.sidebar a
{
	display: block;
	font-size: medium;
	color: #333;
	text-decoration: none;
}

.panelFormCadastro
{
    border-top: 1px solid #ddd;
    margin-top: 10px;
    padding-top: 20px;
}

.panelBotoesCadastro
{
	padding-left: 20px;
}
.panel-campo-obrigatorio
{
	padding-right: 10px;
}

.btn-form-cadastro
{
	width: 48%;
}

@media(min-width: 641px)
{
	.panel-campo-obrigatorio
	{
		text-align: right; 
	}
	.dialogContratoAlerta
	{
		max-width: 640px !important
	}
	.dialog-cadastro-operadoras
	{
		min-width: 70% !important;
		max-width: 70% !important;
	}
	.dialog-min-width-500
	{
		min-width: 500px !important;
	}
}
@media(max-width: 640px)
{
	.dialog-maxwidth95-mobile
	{
		max-width: 95% !important;
	}
	.panelBotoesCadastro
	{
		margin-top: 10px;
		margin-bottom: 10px;
		padding-right: 10px;
	}
	
	.panel-campo-obrigatorio
	{
		text-align: right; 
		padding-right: 10px;
	}
	.restricaoLocomocao-img-alterarDados
	{
		margin-left: 10px;
	}
	
	.dialogContratoAlerta
	{
		max-width: 90% !important;
	}
	
	.selectonemenu-max320
	{
		max-width: 320px;
	}
}

.datatable-cadastro-scroll-min-operadora .ui-datatable-scrollable-body
{
	min-height: 300px !important;
	max-height: 300px !important;
}
.test
{
	box-shadow: none !important;
	border-right: none !important;
	border-top: none !important;
	border-left: none !important;
	border-radius: 0 !important;
	background: none !important;
	width: 100%;
}
.panelgrid-login .ui-panelgrid-cell
{
	padding: 4px 0 !important;
}
.a-criarconta:hover
{
	color: #37bbff !important;
	text-decoration: underline;
}
.a-criarconta
{
	text-decoration: none;
	color: #0081c2 !important;
}
.test.ui-state-hover
{
	border-color: #aed0ea !important;
}
.test.ui-state-focus
{
	box-shadow: none !important;
	border-color: #aed0ea !important;
}

.ui-panelgrid.panelgrid-login.panelgrid-noborder .ui-grid-responsive .ui-grid-row
{
	height: 50px;
}

.selectonemenu-paciente .ui-selectonemenu-label
{
	font-size: .8em;
	text-overflow: ellipsis;
}
#growlIndex_container .ui-state-highlight
{
	color: white;
	background: #9ddd65;
	border-color: #9ccc65;
}
#growlIndex_container
{
	top: 55px !important;
	z-index: 997 !important;
}
#growlIndex_container .ui-state-highlight p
{
	font-size: small;
}

.icon-maior .ui-icon
{
	width: 20px;
}
.ui-datatable-header > i
{
	margin-right: 10px;
}


.cpf.ui-inputtext
{
	height: 50px;
	font-size: 1.8em;
}

.ui-panelgrid.panelgrid-noborder .ui-grid-responsive
{
	border: none;
}

.panelgrid-cpf .ui-grid-responsive .ui-grid-row .ui-panelgrid-cell
{
	padding: 4px 0px;
}


.panelgrid-cpf .ui-grid-responsive .ui-grid-row .ui-panelgrid-cell:nth-child(1)
{
	margin-right: 10px;
}

.ui-button.digitoCpf
{
	height: 50px !important;
	font-size: 1.8em !important;
	text-align: center;
	line-height: 50px !important;
}

.ui-button-text-only.digitoCpf .ui-button-text
{
	padding: 0;
}

.digitoCpf .ui-icon
{
	top: 30% !important;
	height: 1.2em;
	width: 1.8em;
}

.digitoCpf.digitoComIcone .ui-button-text.ui-c
{
	padding: 0;
	text-align: center;
	margin-left: 1em;
}

.alinharTextoCenter
{
	text-align: center;
}

.radioButtonHorario label
{
	background: #f2f5f7;
	border: 1px solid #ccc;
	border-radius: 50px;
	width: 60%;
	text-align: center;
}

@media(max-width: 950px)
{
	.subirDialogKeyboard
	{
		position: absolute !important;
	}
	.dialogContentPadding .ui-dialog-content
	{
		padding: .5em .9em !important;
	}
}
.confirmacaoDadosDialog .ui-grid-col-9
{
	margin-left: 10px;	
}
.confirmacaoDadosDialog .ui-panelgrid label
{
	font-weight: bold;
}

.ui-datatable-scrollable-body
{
	max-height: calc(100vh - 300px);
	overflow: overlay !important;
}
.datatable-dependentes .ui-datatable-scrollable-body
{
	overflow-x: hidden !important;
}
.datatable-reflow-semcolumn .columnNomeInput input
{
	display: none;
}

.ui-datepicker-header .ui-datepicker-title .ui-datepicker-month, .ui-datepicker-header .ui-datepicker-title .ui-datepicker-year
{
	border-radius: 6px;
}
.fc-day.ui-state-highlight
{
	border: 1px solid #2694e8;
	background: #3baae3 url(/AtendimentoSAM/javax.faces.resource/images/ui-bg_glass_50_3baae3_1x400.png.xhtml?ln=primefaces-cupertino) 50% 50% repeat-x;
}


.ui-selectonemenu
{
	min-width: unset !important;
}
.ui-selectonemenu.selectonemenu-paciente
{
	min-width: unset !important;
	padding-right: 0;
}

@media (max-width: 640px){
	.ui-datatable-reflow .ui-datatable-data td[role="gridcell"]
	{
		text-align: left !important;	
	}
	.ui-datatable.datatable-column-below.ui-datatable-reflow table[role="grid"] .ui-datatable-data td[role="gridcell"] .ui-column-title
	{
		display: block !important;
		font-weight: bold !important;
	}
	.ui-datatable.datatable-column-below.ui-datatable-reflow table[role="grid"] .ui-datatable-data .ui-datatable-selectable td[role="gridcell"] .ui-column-title
	{
		display: block !important;
		font-weight: bold !important;
	}
	.ui-datatable.datatable-meus-agendamentos.ui-datatable-reflow .ui-datatable-scrollable-body table[role="grid"] .ui-datatable-data tr td[role="gridcell"] .ui-column-title
	{
		margin-bottom: 0 !important;
		float: left;
	
	}
	.ui-datatable.datatable-reflow-semcolumn.ui-datatable-reflow .ui-datatable-scrollable-body table[role="grid"] .ui-datatable-data td[role="gridcell"] .ui-column-title
	{
		display: none !important;
	}
	/*.selectonemenu-paciente .ui-selectonemenu-label
	{
		width: 240px !important;
	}*/
	.ui-selectonemenu-panel.ui-input-overlay
	{
		font-size: .6em;
	}
	
}
@media (max-width: 899px) {
	
	
	.panelConfirmar1
	{
		display: none !important;
	}
}

@media(min-width: 700px) and (max-height: 700px)
{
	.ui-datepicker
	{
		width: 30em !important;
	}
	.ui-datepicker .ui-datepicker-calendar > tbody  tr td span, .ui-datepicker .ui-datepicker-calendar > tbody  tr td a
	{
		height: 35px !important;
		font-size: 1.4em;
	}
}


.ui-datepicker-inline.ui-datepicker
{
	margin: 0 auto;
}

@media(max-width: 330px)
{
	.ui-confirm-dialog.confirmacaoDadosDialog
	{
		min-width: unset !important;
	}
	
	.ui-selectonemenu.selectonemenu-paciente
	{
		min-width: unset !important;
	}
	.confirmacaoDadosDialog
	{
		font-size: .6em !important;
	}
}
@media(max-width: 500px)
{
	.ui-confirm-dialog.confirmacaoDadosDialog
	{
		min-width: unset !important;
	}
	
	.ui-selectonemenu.selectonemenu-paciente
	{
		min-width: unset !important;
	}
	.ui-confirm-dialog.confirmacaoDadosDialog
	{
		font-size: .75em;
	}
}
@media(min-width: 700px) and (min-height: 700px)
{
	.ui-datepicker
	{
		width: 30em !important;
	}
	.ui-datepicker .ui-datepicker-calendar > tbody  tr td span, .ui-datepicker .ui-datepicker-calendar > tbody  tr td a
	{
		height: 48px !important;
		font-size: 1.6em;
	}
}
@media(min-width: 900px)
{
	.panelConfirmar2
	{
		display: none !important;
	}
}

.scrollHorario
{
	height: calc(100vh - 250px);
}

.scrollMac::-webkit-scrollbar {
    -webkit-appearance: none !important;
}

.scrollMac::-webkit-scrollbar:vertical {
    width: 11px !important;
}

.scrollMac::-webkit-scrollbar:horizontal {
    height: 11px !important;
}

.scrollMac::-webkit-scrollbar-thumb {
    border-radius: 8px !important;
    border: 2px solid white !important; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5) !important;
}

.scrollMac::-webkit-scrollbar-track { 
    
    border-radius: 8px !important; 
} 

.ajax-status
{
	width: 35px !important;
	height: 35px !important;
	position: fixed;
	right: 10px;
	top: 55px;
}

.diaDisponivelCalendar a
{
	color: white !important;
    background: #28a745 !important;
    border-color: #28a745 !important;
}
.diaDisponivelCalendar a:hover
{
	color: white !important;
	background: #218838 !important;
	border: 1px solid #1e7e34 !important;
}
.dialogSemPadding .ui-dialog-content
{
	padding: 0 !important;
}
.ui-confirm-dialog.confirmacaoDadosDialog .ui-scrollpanel.ui-widget-content
{
	border: none;
}

.linkReenviarEmail
{
	text-decoration: none;
	color: #3baae3 !important;
	font-weight: bold;
}

.panelEmailConfirmado
{
	background-color: #4b89dc;
	padding: 2.5em 4em;
	
	margin-top: 10px;
	margin-bottom: 20px;
	
	width: fit-content;
}

.panelLogoEmailConfirmado
{
	background: url(#{request.contextPath}/resources/image/logo-email-confirmado.jpg);
	
}
.panelContentLogoEmailConfirmado
{
	text-align: center;
	padding-top: 40px;
	padding-bottom: 20px;
	width: 100%;
	margin-top: -8px;
	
	background-color: white;
	color: #bbb;
}

@media(max-width: 640px)
{
	.ui-confirm-dialog.confirmacaoDadosDialog .ui-grid-col-7
	{
		margin-left: 10px;
		max-width: calc(100% - 10px);
	}
	
	.ui-confirm-dialog.confirmacaoDadosDialog .ui-grid-col-9
	{
		max-width: calc(100% - 10px);
	}
	
	.selectonemenu-paciente .ui-selectonemenu-label
	{
		width: 270px !important;
	}
}

.ui-datatable-scrollable-body::-webkit-scrollbar
{
	width: 10px !important;
	height: 10px !important;
}

.btn-success
{
	background: #28a745 !important;
    color: white !important;
    border: 1px solid #28a745 !important;
    border-radius: 4px !important;
}
.btn-success:hover
{
	color: white !important;
	background: #218838 !important;
	border: 1px solid #1e7e34 !important;
}
.btn-danger
{
	background: #dc3545 !important;
	color: white !important;
	border: 1px solid #dc3545 !important;
	border-radius: 4px !important;
}
.btn-danger:hover
{
	color: white !important;
	background: #c82333 !important;
	border: 1px solid #bd2130;
}
.btn-shadow
{
	-webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 
	0 3px 1px -2px rgba(0, 0, 0, 0.12), 
	0 1px 5px 0 rgba(0, 0, 0, 0.2);
	
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 
	0 3px 1px -2px rgba(0, 0, 0, 0.12), 
	0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.ui-datatable.table-width-responsive
{
	display: table !important;
}