@media(min-width: 641px)
{
	.panelEscolherPeriodoAntes
	{
		display: inline;
	}
	
	.panelEscolherPeriodoDepois
	{
		display: inline;
	}
}

@media(max-width: 640px)
{
	.panelEscolherPeriodoAntes
	{
		margin-bottom: 10px;
		display: block;
	}
	
	.panelEscolherPeriodoAntes > label
	{
		display: block;
	}
	
	.panelEscolherPeriodoAntes > span
	{
		display: block;
	}
	
	.panelEscolherPeriodoDepois > label
	{
		display: block;
	}
	.panelEscolherPeriodoAntes *
	{
		width: 90%;
	}
	.panelEscolherPeriodoDepois *
	{
		width: 90%;
	}
}
