html {
    height: 100%;
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

.background-login
{
	background: url(#{request.contextPath}/resources/image/image.jpg);
	background-size: cover;
}
@media(max-width: 410px)
{
	.divImgLateralLogin
	{
		display: none !important;
	}
}

.panelgrid-login

{
	width: 100% !important;
}
.panelgrid-login .ui-grid-col-1
{
	width: 8.333333% !important;
	float: left !important;
}
.panelgrid-login .ui-grid-col-11
{
	width: 90% !important;
	float: left !important;
}
.centraliza
{
	margin: 0 auto;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	
}
.header
{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 50px;
	background-color: #1e94d2;
	line-height: 50px;
	color: white;
	z-index: 999;
	-moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.6);
	-webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.6);
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.6);
}
.toggle
{
	position: fixed;
	top: 0;
	right: 15px;
	line-height: 50px;
	color: white;
}

.sidebar.is-toggled
{
	margin-left: 0px;
}

.header img
{
	margin-top: 8px;
	margin-left: 25px;
}


.p-small-spacing p
{
	padding-top: 5px;
	padding-bottom: 5px;
}
.footer
{
	margin-top: auto;
	background-color: #1e94d2;
	color: white;
	z-index: 997;
}
.footer-admin
{
	margin-top: auto;
	background-color: #1e94d2;
	color: white;
	z-index: 997;
}

.p-small-spacing
{
	margin-left: 10%;
	font-size: x-small;
	
}
.ui-panelgrid-content.ui-widget-content.ui-grid.ui-grid-responsive
{
	background: none;
}
.p-small-spacing > p
{
	line-height: 0.3;
}

.content
{
	margin-top: 60px;
	min-height: calc(100vh - 99px);
}

.options
{
	margin-top: 100px;
}

.sidebar
{
	position: fixed;
	top: 50px;
	bottom: 0px;
	width: 210px;
	margin-left: -210px;
	background: #fafafa;
	border-right: 1px solid #eaeaea;
	
	z-index: 998;
	overflow-y: hidden;
	float:left;
	
	transition: margin-left 0.5s;
}
/*
.ui-steps.custom .ui-steps-item .ui-menuitem-link {
	 height: 50px;
	 padding: 0 1em;
}

.ui-steps.custom .ui-steps-item {
   width: 5px; //comentado
    margin-left: 30px;
    background: none;
    border: none;
    border-left: 5px solid #aed0ea;
    border-radius: 0 !important;
   
	transition: margin-left 0.5s;
}
.ui-steps.custom .ui-steps-item.ui-state-highlight {
    text-shadow: none !important;
    background: none !important;
    border: none !important;
    border-left: 5px solid #ffef8f !important;
    border-radius: 2px !important;
    /*margin-left: 50px; //Comentado
   		transition: margin-left 0.5s;
   	
}
.ui-steps.custom .ui-steps-item .ui-steps-number {
	font-size: medium !important;
    background-color: #0081c2;
    color: #FFFFFF;
    display: inline-block;
    width: 30px;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-bottom: 10px;
    margin-left: -35px;
    float: left;
}
.ui-steps.custom .ui-state-highlight {
    text-shadow: none !important;
    background: none !important;
    border: none !important;
    border-left: 5px solid #ffef8f !important;
    border-radius: 2px !important;
    /*margin-left: 50px; //Comentaod
   	
}
.ui-steps.custom .ui-steps-item.ui-state-highlight .ui-steps-title {
    color: #555;
    font-size: medium !important;
}

.ui-steps.custom .ui-steps-item .ui-steps-title {
	font-size: x-small !important;
	white-space: normal;
	padding-top: 15px;
    margin-left: 10px;
}
.ui-steps-item
{
	float: none !important;
}*/

@media(min-width: 951px)
{
	.panel-steps
	{
		display: table;
		margin: 0 auto;
	}
}
@media(max-width: 950px)
{
	.panel-steps
	{
		display: none;
	}
}
.ui-steps .ui-steps-item {
    width: 80px;
}
 
.ui-state-highlight {
    text-shadow: none !important;
}
 
.ui-steps.custom {
    margin-bottom: 20px;
}
 
.ui-steps.custom .ui-steps-item .ui-menuitem-link {
    height: 10px;
    padding: 0;	
}
 
.ui-steps.custom .ui-steps-item .ui-steps-number {
    background-color: #0081c2;
    color: #FFFFFF;
    display: inline-block;
    width: 30px;
    border-radius: 10px;
    margin-top: -10px;
    margin-bottom: 10px;
    width: 25px;
    height: 30px;
    font-size: 150%;
}
 
.ui-steps.custom .ui-steps-item .ui-steps-title
{
	font-size: 0.6em;
}
.ui-steps.custom .ui-steps-item.ui-state-highlight .ui-steps-title {
    color: #555;
}

.ui-steps.custom .ui-steps-item .ui-menuitem-link[onclick="return false;"]
{
	background-image: none;
}
.ui-steps.custom .ui-steps-item.ui-state-disabled
{
	opacity: .35;
	background-image: none;
}
@media(min-width: 900px)
{
	.content
	{
		margin-left: 8%;
		margin-right: 8%;
	}
	.content.is-toggled
	{
		margin-left: 0px;
	}
	.sidebar
	{
		margin-left: 0px;
	}
	.sidebar.is-toggled
	{
		margin-left: -210px;
	}
	
	
}


@media(max-width: 860px)
{
	.divBtnCpf
	{
		display: none;
	}

}

@media(max-width: 640px)
{
	.options
	{
		margin-left: 5px;
		margin-right: 5px;
	}
	
	.ui-panelgrid.panelgrid-noborder .ui-grid-responsive .ui-grid-row
	{
		border: none;
	}
	
	.ui-steps .ui-steps-item .ui-steps-title
	{
		display: block !important;
	}
	
}

@media(max-width: 400px)
{
	.p-small-spacing
	{
		margin-left: 3%;
		font-size: xx-small;
		
	}
}

@media(max-width: 1100px)
{
	
}
@media (max-width: 1150px){
	
		/*.panelgrid-full-resp.ui-grid-responsive .ui-grid-col-1, .ui-grid-responsive .ui-grid-col-2, .ui-grid-responsive .ui-grid-col-3, .ui-grid-responsive .ui-grid-col-4, .ui-grid-responsive .ui-grid-col-5, .ui-grid-responsive .ui-grid-col-6, .ui-grid-responsive .ui-grid-col-7, .ui-grid-responsive .ui-grid-col-8, .ui-grid-responsive .ui-grid-col-9, .ui-grid-responsive .ui-grid-col-10, .ui-grid-responsive .ui-grid-col-11, .ui-grid-responsive .ui-grid-col-12 {
	    width: 100%;
	    float: none;
	}
	.panelgrid-full-resp .ui-grid .ui-grid-row
	{
		display: block !important;
	}*/
}