.header-admin
{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 50px;
	background-color: #1e94d2;
	line-height: 50px;
	color: white;
	z-index: 999;
	-moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.6);
	-webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.6);
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.6);
}

.header-img
{
	margin-top: 8px;
	margin-left: 25px;
}

.sidebar
{
	float: left;
	width: 15%;
	z-index: 5000;
}