*
{
	margin: 0;
	padding: 0;
}

.menu
{
	width: 100%;
	height: 50px;
	display: inline;
	font-family: 'Arial';
}

.arial
{
	font-family: 'Arial';
}
.menu ul
{
	list-style: none;
	position: relative;
	background-color: #1e94d2;
}

.menu ul li
{
	width: 150px;
	float: left;	
}
.menu ul li.li-sair
{
	float:right;
}
.menu a
{
	
	display: block;
	text-decoration: none;
	text-align: center;
	color: #fff;
	font-family: 'Arial';
}

.menu ul ul
{
	position:absolute;
	visibility:hidden;
	background-color: rgba(0, 102, 153, 0.6);
}

.menu ul li:hover ul
{
	visibility: visible;
}


.menu a:hover
{
	background-color: #f4f4f4;
	color:#555;
}

.menu ul ul li
{
	float: none;
	border-bottom: solid 1px #ccc;
}

label[for="bt_menu"]
{
	padding: 5px;
	background-color: #1e94d2;
	color: #fff;
	font-family: 'Arial';
	text-align: center;
	font-size: 30px;
	cursor: pointer;
	width: 50px;
	height: 50px;
}

#bt_menu
{
	display: none;
}

label[for="bt_menu"]
{
	display: none;
}

.backdrop
{
	background-color: #1f2226;
	opacity: 0.5;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index:998;
	display: none;
}

li a
{
	font-weight: 700;
}
li a.fa
{
	line-height: 50px;
	font-weight: 700;
	
}

li a.fa:before
{
	content:"";
}
li a.fa:after
{
	content: "\f107";
	margin-left: 10px;
	font: normal normal normal 18px FontAwesome;
}

@media(max-width: 950px)
{
	label[for="bt_menu"]
	{
		float: right;
		display:block;
		padding: 0;
		margin-bottom: 5px;
	}
	
	
	.menu
	{
		width: -moz-fit-content;
		width: fit-content;
		float: right;
		clear: both;
		margin-top: 5px;
		margin-right: -100%;
		transition: all .4s;
		display: block;
		z-index: 1002;
		
	}
	
	.menu ul li.li-sair
	{
		float: none;
	}
	#bt_menu:checked ~ .menu
	{
		margin-right: 0;
	}
	
	#bt_menu:checked + .backdrop
	{
		display: block !important;
	}
	
	.menu ul li
	{
		width: 100%;
		float: none;
		font-weight: bold;
		margin-right: 10px;
	}
	
	.menu ul
	{
		background-color: rgba(30, 148, 210, 0.7);
		list-style-type: none;
		
	}
	.menu ul ul
	{
		position: static;
		overflow: hidden;
		max-height: 0;
		transition: all .4s;
		background-color: rgba(0, 102, 153, 0.6);
	}
	
	.menu ul li:hover ul
	{
		height: auto;
		max-height: 200px;
	}
	
	.menu ul li a
	{
		text-align: left;
		padding-left: 20px;
	}
	
	.menu ul li ul li a
	{
		background: none;
		text-align: center
	}
	
}