<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:p="http://primefaces.org/ui">
		
	<h:form>
		<f:event listener="#{alterarCadastroBean.preRenderViewCarregarBeneficiario()}" type="preRenderView"></f:event>
	</h:form>
	
	<h:form id="formAlterarDados">
		<h1 style="text-align: center">Alteração de dados</h1>
		
		<div class="ui-fluid">
			<p:panelGrid columns="3" layout="grid" columnClasses="ui-grid-col-1, ui-grid-col-6, ui-grid-col-5" styleClass="panelgrid-noborder" style="margin-top: 20px;">
				<p:outputLabel for="pacienteAutoComplete" value="Paciente:" style="line-height: 30px"></p:outputLabel>
				<p:selectOneMenu id="pacienteAutoComplete" value="#{alterarCadastroBean.beneficiario}" converter="generic">
					<p:ajax event="itemSelect" process="@this" update="@form :dialogConvenio"></p:ajax>
					<f:selectItems value="#{alterarCadastroBean.beneficiarios()}" var="b" itemLabel="#{b.nome}" itemValue="#{b}"/>
				</p:selectOneMenu>
			</p:panelGrid>
			
			<p:panelGrid id="panelgrid-alterar-dados" columns="1" layout="grid" columnClasses="ui-grid-col-12" styleClass="panelgrid-noborder" style="border-top: 1px solid #ddd; margin-top: 10px; padding-top: 20px;" rendered="#{alterarCadastroBean.beneficiario != null}" >
				<p:messages closable="true" id="messageErro"></p:messages>
				
				<p:panelGrid id="panelDados" columns="4" layout="grid" columnClasses="ui-grid-col-2, ui-grid-col-4, ui-grid-col-2, ui-grid-col-4" styleClass="panelgrid-noborder">
					<p:outputLabel for="nome" value="Nome:"></p:outputLabel>
					<p:inputText id="nome" value="#{alterarCadastroBean.beneficiario.nome}" required="true" ></p:inputText>
					
					<p:outputLabel for="cpf" value="Cpf:"></p:outputLabel>
					<p:inputMask id="cpf" mask="999.999.999-99" value="#{alterarCadastroBean.beneficiario.cpf}" autoClear="false" >
						<p:ajax event="blur" process="@this" update="@this messageErro"></p:ajax>
						<f:validator validatorId="cpfValidator"/>
					</p:inputMask>
					
					<p:outputLabel for="dataNascimento" value="Data de nascimento:"></p:outputLabel>
					<p:calendar id="dataNascimento" value="#{alterarCadastroBean.beneficiario.dataNascimento}" navigator="true" yearRange="1900: c" pattern="dd/MM/yyyy" mask="true" required="true" converter="conversorCalendar" maxdate="#{autenticador.dataAtual}"></p:calendar>
					
					<p:outputLabel for="sexo" value="Genero:"></p:outputLabel>
					<p:selectOneMenu id="sexo" value="#{alterarCadastroBean.beneficiario.sexo}" required="true">
						<f:selectItem itemLabel="Masculino" itemValue="M"/>
						<f:selectItem itemLabel="Feminino" itemValue="F"/>
						<f:selectItem itemLabel="Outro" itemValue="OUTRO"/>
					</p:selectOneMenu>
					
					<p:outputLabel for="cep" value="Cep:"></p:outputLabel>
					<p:inputMask mask="99999-999" id="cep" value="#{alterarCadastroBean.beneficiario.cep}">
						<p:ajax event="blur" process="@this" listener="#{alterarCadastroBean.completarEndereco()}" update="cidade bairro endereco"></p:ajax>
					</p:inputMask>
					
					<p:outputLabel for="cidade" value="Município: "></p:outputLabel>
					<p:inputText id="cidade" value="#{alterarCadastroBean.beneficiario.municipio}"></p:inputText>
					
					<p:outputLabel for="bairro" value="Bairro: "></p:outputLabel>
					<p:inputText id="bairro" value="#{alterarCadastroBean.beneficiario.bairro}"></p:inputText>
					
					<p:outputLabel for="endereco" value="Endereço: "></p:outputLabel>
					<p:inputText id="endereco" value="#{alterarCadastroBean.beneficiario.logradouro}"></p:inputText>
					
					<p:outputLabel for="numero" value="Número: "></p:outputLabel>
					<p:inputText id="numero" value="#{alterarCadastroBean.beneficiario.numero}"></p:inputText>
					
					<p:outputLabel for="complemento" value="Complemento: "></p:outputLabel>
					<p:inputText id="complemento" value="#{alterarCadastroBean.beneficiario.complemento}"></p:inputText>
					
					<p:outputLabel for="telefone" value="Telefone:"></p:outputLabel>
					<p:inputMask id="telefone" mask="(99) 9999-9999" value="#{alterarCadastroBean.beneficiario.telefone}"></p:inputMask>
					
					<p:outputLabel for="celular" value="Celular:"></p:outputLabel>
					<p:inputMask id="celular" mask="(99) 99999-9999" value="#{alterarCadastroBean.beneficiario.celular}"></p:inputMask>
					
				</p:panelGrid>
				
				<p:panelGrid id="panelDadoss" columns="3" layout="grid" columnClasses="ui-grid-col-2, ui-grid-col-4, ui-grid-col-6" styleClass="panelgrid-noborder">
	                <p:outputLabel for="email" value="E-mail:"></p:outputLabel>
	                <p:inputText id="email" value="#{alterarCadastroBean.beneficiario.email}">
	                	<p:ajax event="keyup" process="@this" update="@this"></p:ajax>
	                	<f:validator validatorId="emailValidator"/>
	                </p:inputText>
	                
	                <h:panelGroup layout="block">
						<p:graphicImage library="image" name="accessibility-24.png" style="position: relative; top: 5px;"></p:graphicImage>
						<p:outputLabel for="restricaoLocomocao" value=" Restrição de Locomoção: "></p:outputLabel>
						<p:selectBooleanCheckbox id="restricaoLocomocao" value="#{alterarCadastroBean.beneficiario.restricaoLocomocao}"></p:selectBooleanCheckbox>
					</h:panelGroup>
				</p:panelGrid>
				
				<p:panelGrid id="panelDadosss" columns="4" layout="grid" columnClasses="ui-grid-col-2, ui-grid-col-4, ui-grid-col-2 ui-grid-col-4" styleClass="panelgrid-noborder">
	                <p:outputLabel for="senha" value="Senha:"></p:outputLabel>
	                <p:password id="senha" value="#{alterarCadastroBean.senhaAtual}" required="#{alterarCadastroBean.podeAlterarSenha()}" placeholder="Senha Atual" redisplay="true"></p:password>
	                
	                <h:panelGroup rendered="#{alterarCadastroBean.podeAlterarSenha()}">
	                	<p:outputLabel for="altSenhaChk" value="Alterar Senha:" style="margin-right: 10px; padding-top: 10px;"></p:outputLabel>
		                <p:selectBooleanCheckbox id="altSenhaChk" value="#{alterarCadastroBean.alterarSenha}">
		                	<p:ajax process="@this" update="panelgrid-novasenha"></p:ajax>
		                </p:selectBooleanCheckbox>
	                </h:panelGroup>
				</p:panelGrid>
				
				<p:outputPanel id="panelgrid-novasenha">
					<p:panelGrid  columns="4" layout="grid" columnClasses="ui-grid-col-2, ui-grid-col-4, ui-grid-col-2, ui-grid-col-4" rendered="#{alterarCadastroBean.alterarSenha}" styleClass="panelgrid-noborder" style="border-top: 1px solid #ddd; padding-top: 10px;">
						<p:outputLabel for="confirmarSenha" value="Nova Senha:"></p:outputLabel>
		                <p:password id="confirmarSenha" match="confirmarNovaSenha" value="#{alterarCadastroBean.novaSenha}"  required="true" placeholder="Nova senha (Mínimo 6 caracteres)" feedback="true" inline="true" weakLabel="Fraca" strongLabel="Forte" goodLabel="Boa" promptLabel="Insira a sua senha">
		               		<f:validateLength minimum="6"></f:validateLength>
		                </p:password>
						
						<p:outputLabel for="confirmarNovaSenha" value="Confirmar Senha:"></p:outputLabel>
		            	<p:password id="confirmarNovaSenha" value="#{alterarCadastroBean.novaSenha}" required="true" placeholder="Confirmar a nova senha" ></p:password>
		            	
					</p:panelGrid>
				</p:outputPanel>

				<p:panelGrid columns="1" layout="grid" columnClasses="ui-grid-col-12" styleClass="panelgrid-noborder">
					<p:commandLink value="Selecionar Convênio" oncomplete="PF('dialogOperadoras').show()" process="@this" update=":formDialogConvenio"></p:commandLink>
					
					<h:panelGroup style="text-align: right;" layout="block">
						<h:outputText value="Campos OBRIGATÓRIOS(*)" style="font-size: small"/>
					</h:panelGroup>
					
					
					<p:commandButton id="btnEnter" value="Alterar Registro" action="#{alterarCadastroBean.merge()}" process="@form dialogConvenio" icon="fa fa-check" styleClass="icon-maior btn-success btn-shadow"></p:commandButton>
				</p:panelGrid>
			</p:panelGrid>
			
			<p:defaultCommand target="btnEnter"></p:defaultCommand>
			
		</div>
	</h:form>
	
	<p:dialog header="Seleção de Convênio" id="dialogConvenio" widgetVar="dialogOperadoras" modal="true" draggable="false" resizable="false"  responsive="true" closable="false" styleClass="dialog-cadastro-operadoras dialog-maxwidth95-mobile">
		<h:form id="formDialogConvenio">
			<div class="ui-fluid">
				<p:messages id="messageCadastroOperadora" closable="true"></p:messages>
				
				<p:panelGrid columns="2" layout="grid" columnClasses="ui-grid-col-2, ui-grid-col-5" styleClass="panelgrid-noborder" style="margin-top: 10px; padding-top: 10px; border-top: 1px solid #ddd">
					<p:outputLabel for="convenioMenu" value="Convênio:"></p:outputLabel>
					<p:selectOneMenu id="convenioMenu" value="#{alterarCadastroBean.contrato}" converter="generic">
						<p:ajax event="itemSelect" process="@this" listener="#{alterarCadastroBean.adicionarContratoNaLista()}" update="datatable-contratos btnConfirmarConvenio"></p:ajax>
						<f:selectItem itemLabel="Selecione..." noSelectionOption="true"/>
						<f:selectItems value="#{alterarCadastroBean.contratosResumos}" var="c" itemLabel="#{c.nome}" itemValue="#{c}"/>
					</p:selectOneMenu>
				</p:panelGrid>
			
				<div style="margin-top: 15px; padding-top: 15px; border-top: 1px solid #ddd">
					<p:dataTable id="datatable-contratos" value="#{alterarCadastroBean.beneficiario.contratosCarteirinhas}" var="c" selectionMode="single" selection="#{alterarCadastroBean.contratoCarteirinha}" rowKey="#{c.id}" scrollable="true" reflow="true" emptyMessage="Nenhum convênio selecionado" styleClass="datatable-column-below datatable-cadastro-scroll-min-operadora" style="margin-bottom: 10px;">
						<p:column headerText="Convênio" width="40%">
								<h:outputText value="#{c.nomeContrato}" />
						</p:column>
						
						<p:column headerText="Nº Carteirinha" width="35%">
							<p:inputText id="nc" value="#{c.carteirinha}" required="true" requiredMessage="Por favor, preencha todos os campos de Nº da Carteirinha">
								<p:ajax event="blur" process="@this"></p:ajax>
							</p:inputText>
						</p:column>
						
						<p:column headerText="Plano">
							<p:selectOneMenu value="#{alterarCadastroBean.planoResumo}" required="true" converter="generic" requiredMessage="Por favor, selecione um plano">
								<f:selectItem itemLabel="Selecione..." noSelectionOption="true"/>
								<f:selectItems value="#{atendimentoOnlineBean.atualizarPlanoDoContrato(c.idContrato)}" var="p" itemLabel="#{p.nome}" itemValue="#{p}"/>
								
								<p:ajax event="change" process="@this" listener="#{alterarCadastroBean.inserirPlanoNoContrato(c)}"/>
							</p:selectOneMenu>
						</p:column>
						<p:column width="50px">
							<p:commandButton process="@this" update="datatable-contratos formDialogConvenio:btnConfirmarConvenio" actionListener="#{alterarCadastroBean.removeContratoCarteirinha(c)}" icon="fa fa-close" styleClass="btn-danger btn-shadow"></p:commandButton>
						</p:column>
					</p:dataTable>
				
					<p:commandButton id="btnConfirmarConvenio" value="Confirmar Convênio(s)" process="@this datatable-contratos" update="messageCadastroOperadora" oncomplete="if(!args.validationFailed) PF('dialogOperadoras').hide()" icon="fa fa-check" styleClass="btn-success btn-shadow"></p:commandButton>
				</div>
				
			</div>
		</h:form>
	</p:dialog>
</html>