<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:p="http://primefaces.org/ui">
		
		
	<div style="text-align: center">
		<h1 style="margin-bottom: 15px">Bem vindo a #{autenticador.clinica.nomeFantasia}</h1>
		<p:graphicImage library="image/logos" name="#{autenticador.clinica.id}.png" style="height: auto; margin-bottom: 40px;"></p:graphicImage>
		
		<ui:include src="/WEB-INF/agendamento-online/agendamento/seleciona-unidade.xhtml"/>
	</div>
	
</html>