<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:p="http://primefaces.org/ui">

	
	<h:form>
		<f:event listener="#{autenticador.trazerDadosParaDependente()}" type="preRenderView"></f:event>
		<h1 style="text-align: center; margin-bottom: 10px;">Cadastro de Dependentes</h1>
		
		<div class="ui-fluid" style="border-top: 1px solid #ddd">
			<p:panelGrid id="panel" columns="1" layout="grid" columnClasses="ui-grid-col-12" styleClass="panelgrid-noborder" >
				<p:messages id="messageCadastro" closable="true"></p:messages>
				
				<p:panelGrid id="panelDados" columns="4" layout="grid" columnClasses="ui-grid-col-2, ui-grid-col-4, ui-grid-col-2, ui-grid-col-4" styleClass="panelgrid-noborder">
					<p:outputLabel for="nome" value="Nome:"></p:outputLabel>
					<p:inputText id="nome" value="#{autenticador.beneficiario.nome}" required="true"></p:inputText>
					
					<p:outputLabel for="cpf" value="Cpf:"></p:outputLabel>
					<p:inputMask id="cpf" mask="999.999.999-99" value="#{autenticador.beneficiario.cpf}">
						<p:ajax event="blur" process="@this" update="@this messageCadastro"></p:ajax>
						<f:validator validatorId="cpfValidator"/>
					</p:inputMask>
					
					<p:outputLabel for="dataNascimento" value="Data de nascimento:"></p:outputLabel>
					<p:calendar id="dataNascimento" value="#{autenticador.beneficiario.dataNascimento}" navigator="true" yearRange="1900: c" pattern="dd/MM/yyyy" mask="true" required="true" converter="conversorCalendar" maxdate="#{autenticador.dataAtual}"></p:calendar>
					
					<p:outputLabel for="sexo" value="Genero:"></p:outputLabel>
					<p:selectOneButton id="sexo" value="#{autenticador.beneficiario.sexo}" required="true">
						<f:selectItem itemLabel="M" itemValue="M"/>
						<f:selectItem itemLabel="F" itemValue="F"/>
						<f:selectItem itemLabel="Outro" itemValue="OUTRO" />
					</p:selectOneButton>
					
					<p:outputLabel for="cep" value="Cep:"></p:outputLabel>
					<p:inputMask mask="99999-999" id="cep" value="#{autenticador.beneficiario.cep}">
						<p:ajax event="blur" process="@this" listener="#{autenticador.completarEndereco()}" update="cidade bairro endereco"></p:ajax>
					</p:inputMask>
						
					<p:outputLabel for="cidade" value="Município: "></p:outputLabel>
					<p:inputText id="cidade" value="#{autenticador.beneficiario.municipio}"></p:inputText>
					
					<p:outputLabel for="bairro" value="Bairro: "></p:outputLabel>
					<p:inputText id="bairro" value="#{autenticador.beneficiario.bairro}"></p:inputText>
					
					<p:outputLabel for="endereco" value="Endereço: "></p:outputLabel>
					<p:inputText id="endereco" value="#{autenticador.beneficiario.logradouro}"></p:inputText>
					
					<p:outputLabel for="numero" value="Número: "></p:outputLabel>
					<p:inputText id="numero" value="#{autenticador.beneficiario.numero}"></p:inputText>
					
					<p:outputLabel for="complemento" value="Complemento: "></p:outputLabel>
					<p:inputText id="complemento" value="#{autenticador.beneficiario.complemento}"></p:inputText>
					
					<p:outputLabel for="telefone" value="Telefone:"></p:outputLabel>
					<p:inputMask id="telefone" mask="(99) 9999-9999" value="#{autenticador.beneficiario.telefone}"></p:inputMask>
					
					<p:outputLabel for="celular" value="Celular:"></p:outputLabel>
					<p:inputMask id="celular" mask="(99) 99999-9999" value="#{autenticador.beneficiario.celular}"></p:inputMask>
					
	                <p:outputLabel for="email" value="E-mail:"></p:outputLabel>
	                <p:inputText id="email" value="#{autenticador.beneficiario.email}">
	                	<p:ajax event="blur" process="@this" update="@this messageCadastro" ></p:ajax>
		                <f:validator validatorId="emailValidator"/>
	                </p:inputText>
	                
                	<p:spacer></p:spacer>
	            	<p:spacer></p:spacer>
		            	
	                <p:outputLabel for="senha" value="Senha:"></p:outputLabel>
	                <p:password id="senha" match="confirmarSenha" value="#{autenticador.beneficiario.hashCartao}" placeholder="Mínimo 6 caracteres" feedback="true" inline="true" weakLabel="Fraca" strongLabel="Forte" goodLabel="Boa" promptLabel="Insira a sua senha">
	                </p:password>
	                
	                <p:outputLabel for="confirmarSenha" value="Confirmar Senha:"></p:outputLabel>
	                <p:password id="confirmarSenha" value="#{autenticador.beneficiario.hashCartao}">
	                	<p:ajax event="blur" process="senha confirmarSenha"></p:ajax>
	                </p:password>
				</p:panelGrid>
				
				<p:panelGrid id="panel-restricaoLocomocao" columns="2" layout="grid" columnClasses="ui-grid-col-6, ui-grid-col-6">
					<p:commandLink value="Selecionar Convênio" oncomplete="PF('dialogOperadoras').show()" update=":formDialogConvenio" process="@this"></p:commandLink>
					
					<h:panelGroup layout="block">
						<p:graphicImage library="image" name="accessibility-24.png" style="position: relative; top: 5px;"></p:graphicImage>
						<p:outputLabel for="restricaoLocomocao" value=" Restrição de Locomoção: "></p:outputLabel>
						<p:selectBooleanCheckbox id="restricaoLocomocao" value="#{autenticador.beneficiario.restricaoLocomocao}"></p:selectBooleanCheckbox>
					</h:panelGroup>
				</p:panelGrid>
				
				<h:panelGroup styleClass="panel-campo-obrigatorio" layout="block">
					<h:outputText value="Campos OBRIGATÓRIOS(*)" style="font-size: small"/>
				</h:panelGroup>
				
			</p:panelGrid>
			
		</div>
	
		<div class="panelBotoesCadastro">
			<p:commandButton  value="Cancelar" icon="fa fa-close" process="@this" update="panel-ajax" styleClass="btn-form-cadastro btn-danger btn-shadow" style="margin-right: 1%;">
				<f:setPropertyActionListener value="../WEB-INF/agendamento-online/bem-vindo.xhtml" target="#{trocaPaginaAtendimentoOnlineBean.paginaAtual}" />
			</p:commandButton>
			
			<p:commandButton value="Cadastrar" action="#{autenticador.gravarDependente()}" process="@this panelDados panel-restricaoLocomocao" update="panel-ajax" icon="fa fa-user-plus" styleClass="icon-maior btn-form-cadastro btn-success btn-shadow" style="margin-left: 1%"></p:commandButton>
		</div>
	</h:form>
	
	<p:dialog id="dialogOperadora" header="Seleção de Convênio" widgetVar="dialogOperadoras" modal="true" draggable="false" resizable="false" closable="false" styleClass="dialog-cadastro-operadoras dialog-maxwidth95-mobile">
		<h:form id="formDialogConvenio">
			<div class="ui-fluid">
				<p:messages id="messageCadastroContrato" closable="true"></p:messages>

				<p:panelGrid columns="2" layout="grid" columnClasses="ui-grid-col-2, ui-grid-col-5" styleClass="panelgrid-noborder">
					<p:outputLabel for="convenioMenu" value="Convênio:"></p:outputLabel>
					<p:selectOneMenu id="convenioMenu" value="#{autenticador.contrato}" converter="generic">
						<p:ajax event="itemSelect" process="@this" listener="#{autenticador.adicionarContratoNaLista()}" update="datatable-contratos btnConfirmarConvenio"></p:ajax>
						<f:selectItem itemLabel="Selecione..." noSelectionOption="true"/>
						<f:selectItems value="#{autenticador.contratos}" var="c" itemLabel="#{c.nome}" itemValue="#{c}"/>
					</p:selectOneMenu>
				</p:panelGrid>
			
				<div style="margin-top: 15px; padding-top: 15px; border-top: 1px solid #ddd">
					<p:dataTable id="datatable-contratos" value="#{autenticador.beneficiario.contratosCarteirinhas}" var="c" selectionMode="single" selection="#{autenticador.contratoCarteirinha}" rowKey="#{c.id}" scrollable="true" reflow="true" emptyMessage="Nenhum convênio selecionado" styleClass="datatable-column-below datatable-cadastro-scroll-min-operadora" style="margin-bottom: 10px;">
						<p:column headerText="Convênio" width="40%">
								<h:outputText value="#{c.nomeContrato}" />
						</p:column>
						
						<p:column headerText="Nº Carteirinha" width="35%">
							<p:inputText value="#{c.carteirinha}" required="true" requiredMessage="Por favor, preencha todos os campos de Nº da Carteirinha">
								<p:ajax event="blur" process="@this"></p:ajax>
							</p:inputText>
						</p:column>
						
						<p:column width="25%">
							<p:commandButton value="Excluir" process="@this" update="datatable-contratos formDialogConvenio:btnConfirmarConvenio" actionListener="#{autenticador.apagarConvenioCadastro(c)}" icon="fa fa-close"></p:commandButton>
						</p:column>
					</p:dataTable>
				
					<p:commandButton id="btnConfirmarConvenio" value="Confirmar Convênio(s)" process="@this datatable-contratos" update="messageCadastroContrato" oncomplete="if(!args.validationFailed) PF('dialogOperadoras').hide()" icon="fa fa-check" styleClass="btn-success btn-shadow"></p:commandButton>
				</div>
				
			</div>
		</h:form>
	</p:dialog>
</html>