<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:p="http://primefaces.org/ui">
		
	<!--<p:ajaxStatus onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" /> 
	
	<p:dialog widgetVar="statusDialog" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
   		 <p:graphicImage name="/image/ajaxBar.gif" />
	</p:dialog>-->
  	
  	<h:form>
  		<h1 style="text-align: center; margin-bottom: 20px">Consulta de Dependentes</h1>
  		
		<p:panelGrid id="panelgrid-dependentes" columns="1" columnClasses="ui-grid-col-12" layout="grid"  styleClass="panelgrid-noborder datatable-dependentes">
			<p:dataTable value="#{atendimentoOnlineBean.listarDependentes()}" scrollable="true" var="d" reflow="true" emptyMessage="Não há dependentes" styleClass="datatable-reflow-semcolumn">
				<f:facet name="header">
					<i class="fa fa-users"></i>
					<h:outputText value="Dependentes" />
				</f:facet>
				
				<p:column headerText="Nome" style="text-align: center;">
					<h:outputText value="#{d.nome}" />
				</p:column>
				
				<p:column style="text-align: center;" width="280">
					<p:commandButton value="Editar" icon="fa fa-pencil" actionListener="#{alterarCadastroBean.setBeneficiario(d)}" action="#{trocaPaginaAtendimentoOnlineBean.trocarPaginaAndIndex('../WEB-INF/agendamento-online/alterar-dados.xhtml', 0)}" process="@this" update="panel-ajax" styleClass="btn-shadow" style="margin-right: 15px;"></p:commandButton>
					<p:commandButton value="Excluir" icon="fa fa-user-times" action="#{alterarCadastroBean.removeDependente(d)}" process="@this" update="panel-ajax" styleClass="icon-maior btn-danger btn-shadow"></p:commandButton>
				</p:column>
				
			</p:dataTable>
		</p:panelGrid>
  	</h:form>

</html>