<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:p="http://primefaces.org/ui">
		
	<h:form>
		<div class="ui-fluid">
			<p:panelGrid columns="4" layout="grid" columnClasses="ui-grid-col-1, ui-grid-col-5, ui-grid-col-1, ui-grid-col-5" styleClass="panelgrid-noborder" style="margin-top: 20px;">
				<p:outputLabel for="pacienteAutoComplete" value="Paciente:" style="line-height: 30px"></p:outputLabel>
				<p:selectOneMenu id="pacienteAutoComplete" value="#{atendimentoOnlineBean.paciente}" converter="beneficiarioConverter">
					<p:ajax event="itemSelect" process="@this" update="@form" listener="#{atendimentoOnlineBean.atualizarAgendamentos()}"></p:ajax>
					<f:selectItems value="#{atendimentoOnlineBean.beneficiarios}" var="b" itemLabel="#{b.nome}" itemValue="#{b}"/>
				</p:selectOneMenu>
				
				<p:outputLabel for="dataConsultaOneMenu" value="Data:"></p:outputLabel>
				<p:selectOneMenu id="dataConsultaOneMenu" value="#{atendimentoOnlineBean.opcaoMenu}">
					<f:selectItem itemLabel="Selecione..." noSelectionOption="true" />
					<f:selectItem itemLabel="Agendamentos Futuros" itemValue="2"/>
					<f:selectItem itemLabel="Agendamentos Passados" itemValue="4" />
					<p:ajax event="itemSelect" process="@this" update="@form" listener="#{atendimentoOnlineBean.atualizarAgendamentos()}"></p:ajax>
				</p:selectOneMenu>
				
			</p:panelGrid>
		</div>
		
		<div style="border-top: 1px solid #ddd; margin-top: 10px; padding-top: 20px;">
			<p:dataTable id="datatable-agendamentos" value="#{atendimentoOnlineBean.agendamentos}" var="agendamento" scrollable="true" reflow="true" rendered="#{atendimentoOnlineBean.opcaoMenu != null}" styleClass="datatable-meus-agendamentos" emptyMessage="Nenhum agendamento realizado!" >
			    <f:facet name="header">
			    	<h:outputText value="Agendamentos" />
			    </f:facet>
			    <p:column headerText="Clínica"> 
			        <p:outputLabel value="#{agendamento.nmClinica}"/>
			    </p:column>
			    
			    <p:column headerText="Médico"> 
			        <p:outputLabel value="#{agendamento.nmAgenda}"/>
			    </p:column>
			    
			    <p:column headerText="Data">
			        <p:outputLabel value="#{agendamento.dtAgenda.time}">
			            <f:convertDateTime pattern="dd/MM/yyyy - EEEEEEE" locale="pt" />
			        </p:outputLabel>
			    </p:column>
			    
			    <p:column headerText="Horário" width="80"> 
			        <p:outputLabel value="#{agendamento.hora}"/>
			    </p:column>
			    
			    <p:column headerText="Status"> 
			    		<p:outputLabel value="#{agendamento.statusAgenda}"/>
			    </p:column>
			    
			    <p:column resizable="true"> 
			        <p:commandButton value="Desmarcar" action="#{atendimentoOnlineBean.desmarcarAgendamento(agendamento)}" process="@this" update="datatable-agendamentos" disabled="#{atendimentoOnlineBean.isCancelado(agendamento)}" styleClass="btn-danger btn-shadow"/>
			    </p:column>
			    
			    <p:column resizable="true">
			    	<h:panelGroup id="panelConfirmar">
			    		<p:commandButton id="confirmar" value="Confirmar" action="#{atendimentoOnlineBean.confirmarAgendamento(agendamento)}" process="@this" update="datatable-agendamentos" disabled="#{atendimentoOnlineBean.isConfirmavel(agendamento)}" styleClass="btn-success btn-shadow"></p:commandButton>
			    	</h:panelGroup>
			    	
			    	<p:tooltip for="panelConfirmar" trackMouse="true" value="Confirmar 2 dias antes"></p:tooltip>
			    </p:column>
			</p:dataTable>
		</div>
		
	</h:form>

</html>