<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
        
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:p="http://primefaces.org/ui">
		
	<h:head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
		<title>Admin - Agendamento Online</title>
		<link rel="shortcut icon" type="image/x-icon" href="#{resource['image/favicon/favicon.ico']}"/>
		<h:outputStylesheet library="style" name="layout.css"></h:outputStylesheet>
		<h:outputStylesheet library="style" name="components.css"></h:outputStylesheet>
		<h:outputStylesheet library="style" name="menu.css"></h:outputStylesheet>
		<h:outputStylesheet library="style" name="components-admin.css"></h:outputStylesheet>
		<h:outputScript library="js" name="localeCalendar.js"></h:outputScript>
		<h:outputScript>
		
			var today = Date();
			function disponibilizarDias(date) {
			
 				disabledDays = [
	 				<ui:repeat var="days"  value="#{atendimentoOnlineBean.diasDisponiveis}" varStatus="loop">
	 					"#{days}"#{loop.last ? "" : ","}
	 				</ui:repeat>
 				];
 				//<![CDATA[ 
			    var m = date.getMonth(), d = date.getDate(), y = date.getFullYear();
			    for (i = 0; i < disabledDays.length; i++) {
			        if($.inArray((m+1) + '-' + d + '-' + y,disabledDays) != -1) {
			            return [true, 'diaDisponivelCalendar'];
			        }
			    }
			   
			    return [false, ''];
				//]]>
			}
			
			function desmarcarCheckBox()
			{
				console.log("desmarcar");
				document.getElementById('bt_menu').checked = false;
			}
			
		
			$(function ()
			{
				var aberto = 0;
			    $('body').on('click', function (e) {
			    	if(e.target.id != 'bt_menu' &amp;&amp; document.getElementById('bt_menu').checked === true &amp;&amp; e.target.className != 'fa fa-angle-down')
			    	{
			    		<!--  console.log("if1 " + document.getElementById('bt_menu').checked + " " + e.target.className);-->
			           
			           document.getElementById('backdrop').style.display = 'none';
			           
			           if(aberto = 2)
			           {
			           	document.getElementById('bt_menu').checked = false;
			           }
			        }
			        else if(e.target.id != 'bt_menu' &amp;&amp; document.getElementById('bt_menu').checked === true &amp;&amp; e.target.className == 'fa fa-angle-down')
			        {
			        
			        }
			        else
			        {
		        		if(document.getElementById('bt_menu').checked === true &amp;&amp; aberto != 2)
		        		{console.log("if2 " + document.getElementById('bt_menu').checked);
		        			
		        			document.getElementById('backdrop').style.display = 'block';
		        			aberto = 2;
		        		}
		        		else
		        		{
		        			console.log("else " + document.getElementById('bt_menu').checked + " " + e.target.className);
		        			
		        			document.getElementById('backdrop').style.display = 'none';
		        			document.getElementById('bt_menu').checked = false;
		        			aberto = 0;
		        		}
			        }
			       
		    	});
			});
		</h:outputScript>
	</h:head>
	
	<h:body>
		<p:growl id="growlIndex" showDetail="true" life="3000" severity="info" ></p:growl>
	
		<p:ajaxStatus styleClass="ajax-status" >
			<f:facet name="start">
				<h:graphicImage library="image" name="ajax-circle.gif" height="30"/>
			</f:facet>
		</p:ajaxStatus> 
		
		<h:form id="formMenu">
			<ui:include src="/WEB-INF/header-admin.xhtml"></ui:include>
		</h:form>
		
		<div id="content" class="content js-content">
			<p:outputPanel id="panel-ajax">
				<ui:include src="#{trocaPaginaAtendimentoOnlineBean.paginaAtual}" />
			</p:outputPanel>
		</div>
		
		<ui:include src="/WEB-INF/footer-admin.xhtml"></ui:include>
		
		<div id="backdrop" class="backdrop"></div>
	</h:body>
</html>