<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:p="http://primefaces.org/ui">
	
	<h:head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
		<title>Agendamento Online</title>
		<link rel="shortcut icon" type="image/x-icon" href="#{resource['image/favicon/favicon.ico']}"/>
		<h:outputStylesheet library="style" name="layout.css"></h:outputStylesheet>
		<h:outputStylesheet library="style" name="components.css"></h:outputStylesheet>
		<h:outputStylesheet library="style" name="menu.css"></h:outputStylesheet>
	</h:head>
	
	<h:body>
		<p:ajaxStatus styleClass="ajax-status" >
			<f:facet name="start">
				<h:graphicImage library="image" name="ajax-circle.gif" height="30"/>
			</f:facet>
		</p:ajaxStatus> 
  		
		<ui:include src="../WEB-INF/header.xhtml"></ui:include>

		<div class="content">
			<h:form>
				<h1 style="text-align: center;">Novo Cadastro</h1>
				
				<div class="ui-fluid">
					<p:panelGrid id="panel" columns="1" layout="grid" columnClasses="ui-grid-col-12" styleClass="panelgrid-noborder" >
						<p:messages id="messageCadastro" closable="true" severity="error"></p:messages>
						
						<p:panelGrid id="panelDados" columns="4" layout="grid" columnClasses="ui-grid-col-2, ui-grid-col-4, ui-grid-col-2, ui-grid-col-4" styleClass="panelgrid-noborder panelFormCadastro">
							<p:outputLabel for="nome" value="Nome:"></p:outputLabel>
							<p:inputText id="nome" value="#{autenticador.beneficiario.nome}" required="true"></p:inputText>
							
							<p:outputLabel for="cpf" value="Cpf:"></p:outputLabel>
							<p:inputMask id="cpf" mask="999.999.999-99" value="#{autenticador.beneficiario.cpf}" required="true">
		                	<p:ajax event="blur" process="@this" update="@this messageCadastro" ></p:ajax>
								<f:validator validatorId="cpfValidator"/>
							</p:inputMask>
							
							<p:outputLabel for="dataNascimento" value="Data de nascimento:"></p:outputLabel>
							<p:calendar id="dataNascimento" widgetVar="calendarDataNascimento" value="#{autenticador.beneficiario.dataNascimento}" navigator="true" yearRange="1900: c" pattern="dd/MM/yyyy" mask="true" required="true" converter="conversorCalendar" maxdate="#{autenticador.dataAtual}"></p:calendar>
							
							<p:outputLabel for="sexo" value="Genero:"></p:outputLabel>
							<p:selectOneButton id="sexo" value="#{autenticador.beneficiario.sexo}" required="true">
								<f:selectItem itemLabel="M" itemValue="M"/>
								<f:selectItem itemLabel="F" itemValue="F"/>
								<f:selectItem itemLabel="Outro" itemValue="OUTRO"/>
							</p:selectOneButton>
							
							<p:outputLabel for="cep" value="Cep:"></p:outputLabel>
							<p:inputMask mask="99999-999" id="cep" value="#{autenticador.beneficiario.cep}" required="true">
								<p:ajax event="blur" process="@this" listener="#{autenticador.completarEndereco()}" update="cidade bairro endereco"></p:ajax>
							</p:inputMask>
							
							<p:outputLabel for="cidade" value="Município: "></p:outputLabel>
							<p:inputText id="cidade" value="#{autenticador.beneficiario.municipio}" required="true"></p:inputText>
							
							<p:outputLabel for="bairro" value="Bairro: "></p:outputLabel>
							<p:inputText id="bairro" value="#{autenticador.beneficiario.bairro}" required="true"></p:inputText>
							
							<p:outputLabel for="endereco" value="Endereço: "></p:outputLabel>
							<p:inputText id="endereco" value="#{autenticador.beneficiario.logradouro}" required="true"></p:inputText>
							
							<p:outputLabel for="numero" value="Número: "></p:outputLabel>
							<p:inputText id="numero" value="#{autenticador.beneficiario.numero}" required="true"></p:inputText>
							
							<p:outputLabel for="complemento" value="Complemento: "></p:outputLabel>
							<p:inputText id="complemento" value="#{autenticador.beneficiario.complemento}"></p:inputText>
							
							<p:outputLabel for="telefone" value="Telefone:"></p:outputLabel>
							<p:inputMask id="telefone" mask="(99) 9999-9999" value="#{autenticador.beneficiario.telefone}"></p:inputMask>
							
							<p:outputLabel for="celular" value="Celular:"></p:outputLabel>
							<p:inputMask id="celular" mask="(99) 99999-9999" value="#{autenticador.beneficiario.celular}" required="true"></p:inputMask>
							
			                <p:outputLabel for="email" value="E-mail:"></p:outputLabel>
			                <p:inputText id="email" value="#{autenticador.beneficiario.email}" required="true" >
		                		<p:ajax event="blur" process="@this" update="@this messageCadastro" ></p:ajax>
			                	<f:validator validatorId="emailValidator"/>
			                </p:inputText>
			                
			                <p:outputLabel for="confirmarEmail" value="Confirmar E-mail:"></p:outputLabel>
			                <p:inputText id="confirmarEmail" value="#{autenticador.emailRepita}" required="true" >
		                		<p:ajax event="blur" process="@this" update="@this messageCadastro" listener="#{autenticador.verificaEmailsIguais()}"></p:ajax>
			                </p:inputText>
			                
			                <p:outputLabel for="senha" value="Senha:"></p:outputLabel>
			                <p:password id="senha" match="confirmarSenha" value="#{autenticador.beneficiario.hashCartao}" 
				                required="true" placeholder="Mínimo 6 caracteres" feedback="true"  weakLabel="Fraca" 
				                strongLabel="Forte" goodLabel="Boa" promptLabel="Insira a sua senha" inline="true">
			                	<f:validateLength minimum="6"></f:validateLength>
			                </p:password>
			                
			                <p:outputLabel for="confirmarSenha" value="Confirmar Senha:"></p:outputLabel>
			                <p:password id="confirmarSenha" value="#{autenticador.beneficiario.hashCartao}" required="true" ></p:password>
						</p:panelGrid>
						
						<p:panelGrid columns="2" layout="grid" columnClasses="ui-grid-col-6, ui-grid-col-6">
							<p:spacer></p:spacer>
							<h:panelGroup layout="block">
								<p:graphicImage library="image" name="accessibility-24.png" style="position: relative; top: 5px;"></p:graphicImage>
								<p:outputLabel for="restricaoLocomocao" value=" Restrição de Locomoção: "></p:outputLabel>
								<p:selectBooleanCheckbox id="restricaoLocomocao" value="#{autenticador.beneficiario.restricaoLocomocao}"></p:selectBooleanCheckbox>
							</h:panelGroup>
						</p:panelGrid>
				
						<p:panelGrid columns="1" layout="grid" columnClasses="ui-grid-col-12">
							<p:commandLink value="Selecionar Convênio" onclick="PF('dialogOperadoras').show()" process="@this"></p:commandLink>
						</p:panelGrid>
						
						<h:panelGroup styleClass="panel-campo-obrigatorio" layout="block">
							<h:outputText value="Campos OBRIGATÓRIOS(*)" style="font-size: small"/>
						</h:panelGroup>
						
					</p:panelGrid>
	
				</div>
				
				<div class="panelBotoesCadastro" style="margin-bottom: 30px;">
					<p:commandButton icon="fa fa-close" value="Cancelar" action="#{autenticador.irLogin()}" process="@this" styleClass="btn-form-cadastro btn-danger btn-shadow" style="margin-right: 1%;"></p:commandButton>
					<p:commandButton id="btnEnter" value="Cadastrar" action="#{autenticador.gravarBeneficiario()}" process="@this panelDados"  icon="fa fa-user-plus"  update="messageCadastro formConfirmacaoEmail:dialogConfirmacaoEmail" styleClass="icon-maior btn-form-cadastro btn-success btn-shadow" style="margin-left: 1%"></p:commandButton>
				</div>
				
				<p:defaultCommand target="btnEnter"></p:defaultCommand>
			</h:form>
		</div>
		<h:form id="formConfirmacaoEmail">
			<p:dialog widgetVar="dialogConfirmacaoEmail" id="dialogConfirmacaoEmail" visible="#{autenticador.mostrarDialogConfirmacaoEmail}" header="Confirmar E-mail" closable="true" modal="true" resizable="false" responsive="true" draggable="false">
				<p:ajax event="close" listener="#{autenticador.irLogin()}" process="@this"></p:ajax>
				
				<div style="text-align: center">
					<i class="fa fa-envelope-o" style="color: #72c178; font-size: 5em"></i>
				</div>
				<p style="padding: 1em 1%; text-align: center">Enviamos um e-mail de confirmação para <span style="color:#15cc6f">#{autenticador.beneficiario.email}</span>.</p>
				
				<f:facet name="footer">
					<div style="width: 100%; text-align: center; padding-bottom: .6em; padding-top: .6em">
						<p:commandLink value="Ok" process="dialogConfirmacaoEmail" styleClass="linkReenviarEmail" onclick="PF('dialogConfirmacaoEmail').hide()"></p:commandLink>
					</div>
				</f:facet>
			</p:dialog>
		</h:form>
		
		<p:dialog header="Seleção de Convênio" widgetVar="dialogOperadoras" modal="true" draggable="false" resizable="false" closable="false" styleClass="dialog-cadastro-operadoras dialog-maxwidth95-mobile" height="auto" >
			<h:form id="formDialogConvenio">
				<div class="ui-fluid">
					<p:messages id="messageCadastroContrato" closable="true"></p:messages>
					<p:panelGrid columns="2" layout="grid" columnClasses="ui-grid-col-2, ui-grid-col-5" styleClass="panelgrid-noborder">
						<p:outputLabel for="convenioMenu" value="Convênio:"></p:outputLabel>
						<p:selectOneMenu id="convenioMenu" value="#{autenticador.contrato}" converter="generic">
							<p:ajax event="itemSelect" process="@this" listener="#{autenticador.adicionarContratoNaLista()}" update="datatable-contratos formDialogConvenio:btnConfirmarConvenio"></p:ajax>
							<f:selectItem itemLabel="Selecione..." noSelectionOption="true"/>
							<f:selectItems value="#{autenticador.contratos}" var="c" itemLabel="#{c.nome}" itemValue="#{c}"/>
						</p:selectOneMenu>
					</p:panelGrid>
				
					<div style="margin-top: 15px; padding-top: 15px; border-top: 1px solid #ddd">
						<p:dataTable id="datatable-contratos" value="#{autenticador.beneficiario.contratosCarteirinhas}" var="c" selectionMode="single" selection="#{autenticador.contratoCarteirinha}" rowKey="#{c.id}" scrollable="true" reflow="true" emptyMessage="Nenhum convênio selecionado" styleClass="datatable-column-below datatable-cadastro-scroll-min-operadora" style="margin-bottom: 10px;">
							<p:column headerText="Convênio" width="40%">
									<h:outputText value="#{c.nomeContrato}" />
							</p:column>
							
							<p:column headerText="Nº Carteirinha" width="35%">
								<p:inputText value="#{c.carteirinha}" required="true" requiredMessage="Por favor, preencha todos os campos de Nº da Carteirinha">
									<p:ajax event="blur" process="@this"></p:ajax>
								</p:inputText>
							</p:column>
							
							<p:column width="25%">
								<p:commandButton value="Excluir" process="@this" update="datatable-contratos formDialogConvenio:btnConfirmarConvenio" actionListener="#{autenticador.apagarConvenioCadastro(c)}" icon="fa fa-close" styleClass="btn-danger btn-shadow"></p:commandButton>
							</p:column>
						</p:dataTable>
					
						<p:commandButton id="btnConfirmarConvenio" value="Confirmar Convênio(s)" process="@this datatable-contratos" oncomplete="if(!args.validationFailed) PF('dialogOperadoras').hide()" update="messageCadastroContrato" icon="fa fa-check" styleClass="btn-success btn-shadow"></p:commandButton>
					</div>
					
				</div>
			</h:form>
		</p:dialog>
		
		<ui:include src="../WEB-INF/footer.xhtml"></ui:include>
		
	</h:body>
</html>