<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:p="http://primefaces.org/ui">
		
	<h:head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<h:outputStylesheet library="style" name="layout.css"></h:outputStylesheet>
		<h:outputStylesheet library="style" name="components.css"></h:outputStylesheet>
		<h:outputStylesheet library="style" name="menu.css"></h:outputStylesheet>
		<title>Agendamento Online</title>
		<link rel="shortcut icon" type="image/x-icon" href="#{resource['image/favicon/favicon.ico']}"/>
	</h:head>
	
	<f:metadata>
		<f:viewParam name="key" value="#{confirmacaoEmailBean.key}"></f:viewParam>
	</f:metadata>
	<h:body>
		<ui:include src="../WEB-INF/header.xhtml"></ui:include>
		
		<div class="content">
			<h:form>
				<div class="arial" style="margin-bottom: 50px;">
					<h:panelGroup layout="block" rendered="#{!confirmacaoEmailBean.valid}" styleClass="centraliza">
						<h:outputText value="Erro !" />
						<p:button value="Ir para a página de login" outcome="login.xhtml?param=#{autenticador.clinica.id}" style="display: block"></p:button>
						
					</h:panelGroup>
					
					<h:panelGroup layout="block" rendered="#{confirmacaoEmailBean.valid}" styleClass="centraliza">
						<h1>E-mail confirmado!</h1>
						
						<div style="border-top: 1px solid #ddd; margin-top: 10px; padding-top: 10px;">
							<div class="panelEmailConfirmado">
								<div style="display: inline-block">
									<p:graphicImage library="image" name="logo-email-confirmado.jpg"></p:graphicImage>
									<div class="panelContentLogoEmailConfirmado">
										<p style="font-weight: bold; color: #aaa">O seu cadastro está completo.</p>
										<p>Clique no botão abaixo!</p>
										<p:button value="Ir para a página de login" outcome="login.xhtml?param=#{confirmacaoEmailBean.clinicaId}" style="margin-top: 20px;"></p:button>
										
									</div>
								</div>
							</div>
						</div>
					</h:panelGroup>
				</div>
			</h:form>
		</div>
	
		<ui:include src="../WEB-INF/footer.xhtml"></ui:include>
		
	</h:body>
</html>