<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:p="http://primefaces.org/ui">
		
	<h:head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
		<title>Agendamento Online</title>
		<link rel="shortcut icon" type="image/x-icon" href="#{resource['image/favicon/favicon.ico']}"/>
		<h:outputStylesheet library="style" name="layout.css"></h:outputStylesheet>
		<h:outputStylesheet library="style" name="components.css"></h:outputStylesheet>
		<h:outputStylesheet library="style" name="menu.css"></h:outputStylesheet>
	</h:head>
	
	<h:body class="background-login">
		<ui:include src="../WEB-INF/header.xhtml"></ui:include>
		
		<p:dialog widgetVar="dialogEnviarSenha" id="dialogEnviarSenha" visible="#{!esqueciMinhaSenhaBean.senhaEnviada}" closable="false" resizable="false" draggable="false" header="Recuperação de senha" styleClass="subirDialogKeyboard dialogContentPadding">
			<h:form>
				<p:messages closable="true" ><p:autoUpdate></p:autoUpdate></p:messages>
				<h4 style=" margin-bottom: 20px">Você esqueceu a sua senha?</h4>
				<h:outputText value="Informe o seu e-mail abaixo que lhe enviaremos uma nova senha." style="display:block; margin-bottom: 20px"/>
			
				<div style="margin-bottom: 15px">
					<p:outputLabel for="email" value="E-mail:" style="margin-right: 5px"></p:outputLabel>
					<p:inputText id="email" value="#{esqueciMinhaSenhaBean.email}" validator="emailEsqueciSenhaValidator" style="display: inline-block"></p:inputText>
				</div>
				
				<p:commandButton value="Recuperar Senha" action="#{esqueciMinhaSenhaBean.recuperarSenha()}" onsuccess="PF('dialogEnviarSenha').hide()" update="dialogSenhaEnviada dialogEnviarSenha" style="float: left" styleClass="btn-success btn-shadow"></p:commandButton>
				
				<div style="text-align: right">
					<p:button value="Voltar" outcome="login"></p:button>
				</div>
			</h:form>
		</p:dialog>
		
		<p:dialog id="dialogSenhaEnviada" visible="#{esqueciMinhaSenhaBean.senhaEnviada}" header="Senha Enviada" resizable="false" responsive="true" closable="false" >
			<h:form>
				<p>Uma nova senha foi enviado para o seu e-mail: <span style="font-weight: bold;">#{esqueciMinhaSenhaBean.email}</span></p>
				
				<div style="text-align: center">
					<p:button value="Ir para a página de login" icon="fa fa-check" outcome="login.xhtml?param=#{autenticador.clinica.id}" style="margin-top: 10px;" styleClass="btn-success btn-shadow"></p:button>
				</div>
			</h:form>
		</p:dialog>
		
		<ui:include src="../WEB-INF/footer.xhtml"></ui:include>
		
	</h:body>
</html>