<?xml version="1.0" encoding="UTF-8" ?>
<!--
Versao: 1.0 
Desenvolvido por: Michael
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:p="http://primefaces.org/ui">
		
	<h:head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
		<link rel="shortcut icon" type="image/x-icon" href="#{resource['image/favicon/favicon.ico']}"/>
		
		<title>Agendamento Online</title>
		<h:outputStylesheet library="style" name="layout.css"></h:outputStylesheet>
		<h:outputStylesheet library="style" name="components.css"></h:outputStylesheet>
		<h:outputStylesheet library="style" name="menu.css"></h:outputStylesheet>
	</h:head>
	
	<h:body class="background-login">
		
		<f:event listener="#{autenticador.getParamClinica()}" type="preRenderView"></f:event>
		
		<ui:include src="../WEB-INF/header.xhtml"></ui:include>
		<p:ajaxStatus onstart="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()" /> 
	 
 		<p:dialog widgetVar="statusDialog" modal="true"  draggable="false" closable="false" resizable="false" showHeader="false">
		    <p:graphicImage name="/image/ajaxBar.gif" />
  		</p:dialog> 
  		
  		<p:outputPanel id="panelSelecionaClinica">
	  		<p:dialog visible="true" id="dialogSelecionaClinica" widgetVar="dialogSelecionaClinica" header="Seleção da Clínica" closable="false" resizable="false" responsive="true" draggable="false" rendered="#{empty autenticador.clinica}">
	  			<h:form>
		  			<p:panel>
		  				<p>Selecione a sua clínica abaixo ou se preferir,</p>
		  				<p style="margin-bottom: 20px">acesse o Agendamento-Online direto do site da sua Clínica.</p>
		  				
		  				<p:selectOneMenu value="#{autenticador.clinica}" converter="generic">
		  					<p:ajax event="itemSelect" process="@this" update="panelLogin panelSelecionaClinica"></p:ajax>
		  					<f:selectItem itemLabel="Selecione..." noSelectionOption="true"/>
		  					<f:selectItems value="#{autenticador.clinicas}" var="c" itemLabel="#{c.nomeFantasia}" itemValue="#{c}" />
		  				</p:selectOneMenu>
		  			</p:panel>
	  			</h:form>
	  		</p:dialog>
		</p:outputPanel>
		
		<p:outputPanel id="panelLogin">
			<p:dialog visible="true" id="dialogLogin" closable="false" resizable="false" responsive="true" header="Login" draggable="false" style="text-align: center; min-width: 40% !important" rendered="#{not empty autenticador.clinica}">
				<h:form>
					<div style="text-align: center; float: left; display: table; margin-right: 10px" class="divImgLateralLogin">
						<div style="display: table-cell; vertical-align: middle">
							<p:graphicImage library="image/logos" name="#{autenticador.clinica.id}-login.png" style="margin-right: 10px; height: 100%; display: block; margin: 0 auto; max-width: 200px"></p:graphicImage>
						</div>
					</div>
					
					<div style="overflow: hidden">
						<p:panel>
							<p:messages showDetail="true" closable="true">
								<p:autoUpdate></p:autoUpdate>
							</p:messages>
							
							<div class="ui-fluid">
								<div class="ui-inputgroup">
									<p:panelGrid columns="2" layout="grid" columnClasses="ui-grid-col-1, ui-grid-col-11" styleClass="panelgrid-login panelgrid-noborder" >
										<span class="ui-inputgroup-addon test" style="border: none; border-bottom: 1px solid #aed0ea !important; "><i class="fa fa-user"></i></span>
						            	<p:inputText styleClass="test" placeholder="E-mail" value="#{autenticador.username}" autocomplete="off"/>    
						            	
						            	<span class="ui-inputgroup-addon test" style="border: none; border-bottom: 1px solid #aed0ea !important; "><i class="fa fa-lock"></i></span>
										<p:password id="asdd" styleClass="test" value="#{autenticador.password}" placeholder="Senha"></p:password>  
									</p:panelGrid>
								 </div>
						            
								<p:commandButton value="Entrar" action="#{autenticador.logarPaciente()}" icon="fa fa-sign-in" styleClass="btn-success btn-shadow"></p:commandButton>
						         
							</div>	
						</p:panel>
						
						<div style="text-align: center; margin-top: 15px; margin-bottom: 5px; padding-left: 15px;">
							<p:commandLink styleClass="a-criarconta" value="Criar conta" action="#{autenticador.irCadastro()}" ajax="false" style="display: block"></p:commandLink>
							<p:commandLink styleClass="a-criarconta" value="Esqueci a minha senha" action="esqueci-a-minha-senha" ajax="false"></p:commandLink>
						</div>
					</div>
					
				</h:form>
				
			</p:dialog>
		</p:outputPanel>
		
		<p:dialog widgetVar="dialogConfirmarEmail" header="Confirmação de e-mail" modal="true" resizable="false" closable="true" draggable="false" styleClass="dialogSemPadding" responsive="true">
			<h:form>
				<div style="padding: .5em 1em">
					<h:outputText value="Antes de efetuar o login, confirme o seu e-mail!" />
				</div>
				
				<div style="border-top: 1px solid #ddd; padding-top: 1em; padding-left: 1em; padding-bottom: .5em;">
					<p:commandButton value="Enviar confirmação por e-mail" icon="fa fa-envelope-o" action="#{autenticador.enviarConfirmacao()}" onsuccess="PF('dialogConfirmarEmail').hide()" update="dialogConfirmarEmailEnviado" oncomplete="PF('dialogConfirmarEmailEnviado').show()" styleClass="icon-maior"></p:commandButton>
				</div>
			</h:form>
		</p:dialog>
		
		<p:dialog widgetVar="dialogConfirmarEmailEnviado" id="dialogConfirmarEmailEnviado" header="E-mail enviado" modal="true" resizable="false" draggable="false" styleClass="dialogSemPadding" responsive="true">
			<h:form>
				<div style="border-top: 1px solid #ddd; padding-top: 1em; padding-left: 1em; padding-bottom: .5em; padding-right: 1em">
					<p>Enviamos um link para o seu e-mail <strong>#{autenticador.username}.</strong></p>
					<p>Acesse-o para confirmar o seu cadastro!</p>
				</div>
				
				<div style="border-top: 1px solid #ddd; padding-top: 1em; padding-bottom: .5em; text-align: center">
					<p:button value="OK" icon="fa fa-check" outcome="login" onclick="PF('dialogConfirmarEmailEnviado').hide()"></p:button>
				</div>
			</h:form>
		</p:dialog>
		
		<p:dialog header="Serviço Indisponível" widgetVar="dialogServicoIndisponivel" modal="true" responsive="true" resizable="false" draggable="false">
			<p>O serviço esta temporariamente indisponível!</p>
			<p>Por favor, entre em contato com a clínica!</p>
		</p:dialog>
		
		<ui:include src="../WEB-INF/footer.xhtml"></ui:include>
	</h:body>
</html>