<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:p="http://primefaces.org/ui">
		
	<h:form>
		<h1 style="text-align: center">Alteração de Senha</h1>
		
		<div class="ui-fluid">
			<p:messages closable="true">
				<p:autoUpdate></p:autoUpdate>
			</p:messages>
			
			<p:panelGrid layout="grid" columns="2" columnClasses="ui-grid-col-2, ui-grid-col-4" styleClass="panelgrid-noborder" style="margin-top: 10px; padding-top:20px; border-top: 1px solid #ddd">
				<p:outputLabel for="senhaAtual" value="Senha atual: "></p:outputLabel>
				<p:password id="senhaAtual" value="#{alterarCadastroAdminBean.senhaAtual}" required="true"></p:password>
			</p:panelGrid>
		
			<p:panelGrid layout="grid" columns="4" columnClasses="ui-grid-col-2, ui-grid-col-4, ui-grid-col-2, ui-grid-col-4" styleClass="panelgrid-noborder" style="margin-top: 10px; padding-top:20px; border-top: 1px solid #ddd">
				<p:outputLabel for="confirmarSenha" value="Nova Senha:"></p:outputLabel>
	            <p:password id="confirmarSenha" match="confirmarNovaSenha" value="#{alterarCadastroAdminBean.novaSenha}"  required="true" placeholder="Nova senha (Mínimo 6 caracteres)" feedback="true" inline="true" weakLabel="Fraca" strongLabel="Forte" goodLabel="Boa" promptLabel="Insira a sua senha">
	            	<f:validateLength minimum="6"></f:validateLength>
	            </p:password>
				
				<p:outputLabel for="confirmarNovaSenha" value="Confirmar Senha:"></p:outputLabel>
	           	<p:password id="confirmarNovaSenha" value="#{alterarCadastroAdminBean.novaSenha}" required="true" placeholder="Confirmar a nova senha" ></p:password>
			</p:panelGrid>
			
			<p:panelGrid columns="1" layout="grid" columnClasses="ui-grid-col-12" styleClass="panelgrid-noborder">
				<h:panelGroup style="text-align: right;" layout="block">
					<h:outputText value="Campos OBRIGATÓRIOS(*)" style="font-size: small"/>
				</h:panelGroup>
				
				<p:commandButton id="btnEnter" value="Alterar Senha" action="#{alterarCadastroAdminBean.merge()}" process="@form" update="@form" icon="fa fa-check" styleClass="icon-maior"></p:commandButton>
			</p:panelGrid>
			
			<p:defaultCommand target="btnEnter"></p:defaultCommand>
			
		</div>
		
	</h:form>
</html>