<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:p="http://primefaces.org/ui">
		
	<h:form>
		<p:panel header="Consulta de Agendamentos" style="margin-bottom: 20px;">
			<div class="ui-fluid">
				<p:panelGrid id="panelgrid-selecao" columns="4" layout="grid" columnClasses="ui-grid-col-2, ui-grid-col-4, ui-grid-col-2, ui-grid-col-4" styleClass="panelgrid-noborder" >
					<p:outputLabel for="medicoConsultaOneMenu" value="Médico: &#160;" escape="false"></p:outputLabel>
					<p:selectOneMenu id="medicoConsultaOneMenu" value="#{consultaAgendamentoBean.nomeMedico}">
						<f:selectItem itemLabel="TODOS" itemValue=""/>
						<f:selectItems value="#{consultaAgendamentoBean.medicos}" var="m" itemLabel="#{m}" itemValue="#{m}" />
						<p:ajax event="itemSelect" process="@this" update="panelAgendamentos" listener="#{consultaAgendamentoBean.atualizarAgendamentos()}"></p:ajax>
					</p:selectOneMenu>
				
					<p:outputLabel for="dataConsultaOneMenu" value="Data:"></p:outputLabel>
					<p:selectOneMenu id="dataConsultaOneMenu" value="#{consultaAgendamentoBean.opcaoMenuData}">
						<f:selectItem itemLabel="Selecione..." noSelectionOption="true" />
						<f:selectItem itemLabel="Hoje" itemValue="1" />
						<f:selectItem itemLabel="Agendamentos Futuros" itemValue="2"/>
						<f:selectItem itemLabel="Escolher Período" itemValue="3"/>
						
						<p:ajax event="itemSelect" process="@this medicoConsultaOneMenu" update="panelAgendamentos panelgrid-selecao" listener="#{consultaAgendamentoBean.atualizarAgendamentos()}"></p:ajax>
					</p:selectOneMenu>
					
					<p:outputLabel for="deAgendamento" value="De: " rendered="#{consultaAgendamentoBean.opcaoMenuData eq 3}"/>
					<p:calendar id="deAgendamento" value="#{consultaAgendamentoBean.deAgendamento}" navigator="true" yearRange="2018: #{consultaAgendamentoBean.ultimoAno}" rendered="#{consultaAgendamentoBean.opcaoMenuData eq 3}">
						<p:ajax event="dateSelect" process="@this" update="ateAgendamento panelAgendamentos" listener="#{consultaAgendamentoBean.getListAgendamentoOnlinePeriodo()}"></p:ajax>
					</p:calendar>
					
					<p:outputLabel for="ateAgendamento" value="Até: " rendered="#{consultaAgendamentoBean.opcaoMenuData eq 3}"/>
					<p:calendar id="ateAgendamento" value="#{consultaAgendamentoBean.ateAgendamento}" disabled="#{empty consultaAgendamentoBean.deAgendamento}" mindate="#{consultaAgendamentoBean.deAgendamento}" navigator="true" yearRange="2018: #{consultaAgendamentoBean.ultimoAno}" rendered="#{consultaAgendamentoBean.opcaoMenuData eq 3}">
						<p:ajax event="dateSelect" process="@this" listener="#{consultaAgendamentoBean.getListAgendamentoOnlinePeriodo()}" update="panelAgendamentos" ></p:ajax>
					</p:calendar>
				</p:panelGrid>
			</div>
			
			<p:outputPanel id="panelAgendamentos" style="padding-top: 10px;">
				<p:outputPanel rendered="#{consultaAgendamentoBean.opcaoMenuData eq 1}">
					<p:dataTable value="#{consultaAgendamentoBean.listAgendamentoOnline}" var="ao" scrollable="true" reflow="true" emptyMessage="Não há agendamentos para hoje" styleClass="datatable-meus-agendamentos">
						<f:facet name="header">
							<h:outputText value="Agendamentos" />
						</f:facet>
						<p:column headerText="Horario" width="10%">
							<h:outputText value="#{ao.hora}" />
						</p:column>
						
						<p:column headerText="Paciente">
							<h:outputText value="#{ao.beneficiario.nome}" />
						</p:column>
						
						<p:column headerText="Médico">
							<h:outputText value="#{ao.nmAgenda}" />
						</p:column>
						<f:facet name="footer">
							<h:outputText value="Há um total de #{consultaAgendamentoBean.listAgendamentoOnline.size()} agendamentos"  rendered="#{consultaAgendamentoBean.listAgendamentoOnline.size() gt 0}"/>
						</f:facet>
					</p:dataTable>
				</p:outputPanel>
				
				<p:outputPanel rendered="#{consultaAgendamentoBean.opcaoMenuData eq 2}">
					<p:dataTable value="#{consultaAgendamentoBean.listAgendamentoOnline}" var="ao" scrollable="true" reflow="true" emptyMessage="Não há agendamentos futuros" styleClass="datatable-meus-agendamentos">
						<f:facet name="header">
							<i class="fa fa-calendar"></i>
							<h:outputText value="Agendamentos" />
						</f:facet>
						
						<p:column headerText="Data">
							<h:outputText value="#{ao.dtAgenda.time}">
								<f:convertDateTime type="date" pattern="dd/MM/yyyy - EEEEEE" locale="pt"/>
							</h:outputText>
						</p:column>
						<p:column headerText="Horario" width="10%">
							<h:outputText value="#{ao.hora}" />
						</p:column>
						
						<p:column headerText="Paciente">
							<h:outputText value="#{ao.beneficiario.nome}" />
						</p:column>
						
						<p:column headerText="Médico">
							<h:outputText value="#{ao.nmAgenda}" />
						</p:column>
						
						<f:facet name="footer">
							<h:outputText value="Há um total de #{consultaAgendamentoBean.listAgendamentoOnline.size()} agendamentos" rendered="#{consultaAgendamentoBean.listAgendamentoOnline.size() gt 0}"/>
						</f:facet>
					</p:dataTable>
				</p:outputPanel>
				
				<p:outputPanel rendered="#{consultaAgendamentoBean.opcaoMenuData eq 3}">
					<p:dataTable id="datatableAgendamentos"  value="#{consultaAgendamentoBean.listAgendamentoOnline}" var="ao" scrollable="true" reflow="true" rendered="#{not empty consultaAgendamentoBean.ateAgendamento}" emptyMessage="Não há agendamentos para o período informado" styleClass="datatable-meus-agendamentos">
						<f:facet name="header">
							<h:outputText value="Agendamentos" />
						</f:facet>
						
						<p:column headerText="Data">
							<h:outputText value="#{ao.dtAgenda.time}">
								<f:convertDateTime type="date" pattern="dd/MM/yyyy - EEEEEE" locale="pt"/>
							</h:outputText>
						</p:column>
						
						<p:column headerText="Horario" width="10%">
							<h:outputText value="#{ao.hora}" />
						</p:column>
						
						<p:column headerText="Paciente">
							<h:outputText value="#{ao.beneficiario.nome}" />
						</p:column>
						
						<p:column headerText="Médico">
							<h:outputText value="#{ao.nmAgenda}" />
						</p:column>
						<f:facet name="footer">
							<h:outputText value="Há um total de #{consultaAgendamentoBean.listAgendamentoOnline.size()} agendamentos" rendered="#{consultaAgendamentoBean.listAgendamentoOnline.size() gt 0}"/>
						</f:facet>
					</p:dataTable>
				</p:outputPanel>
			</p:outputPanel>
		</p:panel>
	</h:form>
	
</html>