<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:p="http://primefaces.org/ui">
		
	<h:form>
		<p:panel header="Consulta de Pacientes">
			<p:outputLabel for="selectOpcaoPaciente" value="Pacientes:"></p:outputLabel>
			<p:selectOneMenu id="selectOpcaoPaciente" value="#{consultaBeneficiarioBean.opcaoPaciente}" style="margin-left: 5px">
				<p:ajax process="@this" listener="#{consultaBeneficiarioBean.atualizaBeneficiarios()}" update="datatable-beneficiarios"></p:ajax>
				
				<f:selectItem itemLabel="Selecione..." noSelectionOption="true"/>
				<f:selectItem itemLabel="TODOS" itemValue="1"/>
				<f:selectItem itemLabel="E-mail Não Confirmado" itemValue="2"/>
				<f:selectItem itemLabel="Sem Agendamentos" itemValue="3"/>
			</p:selectOneMenu>
		
			<p:dataTable id="datatable-beneficiarios" value="#{consultaBeneficiarioBean.beneficiarios}" var="b" style="margin-top: 20px;" reflow="true" scrollable="true" styleClass="datatable-column-below">
				<f:facet name="header">
					<h:outputText value="Pacientes" />
				</f:facet>
				<p:column headerText="Nome" style="text-align: center">
					<h:outputText value="#{b.nome}" />
				</p:column>
				<p:column headerText="Telefone" style="text-align: center">
					<h:outputText value="#{b.celular}" />
				</p:column>
				<p:column headerText="E-mail" style="text-align: center">
					<h:outputText value="#{b.email}" />
				</p:column>
				
				<f:facet name="footer">
					<h:outputText value="#{consultaBeneficiarioBean.beneficiarios.size()} Pacientes" rendered="#{consultaBeneficiarioBean.beneficiarios.size() gt 0}"/>
				</f:facet>
			</p:dataTable>
		</p:panel>
	</h:form>
</html>