<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:p="http://primefaces.org/ui">
		
		<head>
			<meta http-equiv="refresh" content="4.8;URL='http://google.com/'"/>
		</head>
		<h1 style="text-align: center">Agendamento efetuado com sucesso!</h1>
		
		<h6 style="text-align: center">Você será redirecionado em 5 segundos...</h6>
		
		<div style="margin: 0 auto; text-align: center">
			<p:graphicImage library="image" name="ezgif.com-gif-maker (1).gif" ></p:graphicImage>
		</div>
</html>