<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:p="http://primefaces.org/ui">
	
		<h:form id="formCadastroContrato">
			<div class="ui-fluid">
				<h1 style="text-align: center">Cadastre um Convênio abaixo</h1>
				
				<p:panelGrid columns="2" layout="grid" columnClasses="ui-grid-col-2, ui-grid-col-5" styleClass="panelgrid-noborder" style="margin-top: 10px; padding-top: 10px; border-top: 1px solid #ddd">
					<p:outputLabel for="convenioMenu" value="Convênio:"></p:outputLabel>
					<p:selectOneMenu id="convenioMenu" value="#{atendimentoOnlineBean.contratoCarteirinha}" converter="generic">
						<p:ajax event="itemSelect" process="@this" listener="#{atendimentoOnlineBean.adicionarContratoNaLista()}" update="datatable-contratos btnConfirmarConvenio"></p:ajax>
						<f:selectItem itemLabel="Selecione..." noSelectionOption="true"/>
						<f:selectItems value="#{atendimentoOnlineBean.contratosCarteirinhas}" var="c" itemLabel="#{c.nomeContrato}" itemValue="#{c}"/>
					</p:selectOneMenu>
				</p:panelGrid>
			
				<div style="margin-top: 15px; padding-top: 15px; border-top: 1px solid #ddd">
					<p:messages closable="true" id="test"><p:autoUpdate></p:autoUpdate></p:messages>
					<p:dataTable id="datatable-contratos" value="#{atendimentoOnlineBean.paciente.contratosCarteirinhas}" var="c" scrollable="true" reflow="true" emptyMessage="Nenhum convênio selecionado" styleClass="datatable-column-below" style="margin-bottom: 10px;">
						<p:column headerText="Convênio" width="35%">
								<h:outputText value="#{c.nomeContrato}" />
						</p:column>
						
						<p:column headerText="Nº da Carteirinha" width="35%">
							<p:inputText value="#{c.carteirinha}" required="true" requiredMessage="Por favor, preencha todos os campos de Nº da Carteirinha" >
								<p:ajax event="blur" process="@this" update="datatable-contratos"/>
							</p:inputText>
						</p:column>
						
						<p:column headerText="Plano">
							<p:selectOneMenu value="#{atendimentoOnlineBean.planoResumo}" required="true" converter="generic" requiredMessage="Por favor, selecione um plano">
								<f:selectItem itemLabel="Selecione..." noSelectionOption="true"/>
								<f:selectItems value="#{atendimentoOnlineBean.atualizarPlanoDoContrato(c.idContrato)}" var="p" itemLabel="#{p.nome}" itemValue="#{p}"/>
								
								<p:ajax event="change" process="@this" listener="#{atendimentoOnlineBean.inserirPlanoNoContrato(c)}"/>
							</p:selectOneMenu>
						
						</p:column>
						
						<p:column width="50">
							<h:panelGroup id="panelExcluirAgendamento">
								<p:commandButton process="@this" update="datatable-contratos formCadastroContrato:btnConfirmarConvenio" actionListener="#{atendimentoOnlineBean.removeContratoCarteirinha(c)}" icon="fa fa-close" styleClass="btn-danger btn-shadow"></p:commandButton>
							</h:panelGroup>
							<p:tooltip for="panelExcluirAgendamento" trackMouse="true" value="Excluir Agendamentos"></p:tooltip>
						</p:column>
					</p:dataTable>
				
					<p:commandButton id="btnConfirmarConvenio" value="Confirmar Convênio(s)" process="@this datatable-contratos" actionListener="#{atendimentoOnlineBean.selecionaContratoOuPlano()}" update="panel-ajax" icon="fa fa-check" disabled="#{atendimentoOnlineBean.paciente.contratosCarteirinhas.size() eq 0}" style="margin-bottom: 10px" styleClass="btn-success btn-shadow"></p:commandButton>
				</div>
				
			</div>
		</h:form>
	
</html>