<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:p="http://primefaces.org/ui">
		
		<h:form>
			<p:ajaxStatus onstart="PF('dialogConfirmacaoAjaxStatus').show()" onsuccess="PF('dialogConfirmacaoAjaxStatus').hide()" onerror="PF('dialogConfirmacaoAjaxStatus').hide()" ></p:ajaxStatus>
			<p:dialog widgetVar="dialogConfirmacaoAjaxStatus" resizable="false" draggable="false" showHeader="false">
				<p:graphicImage library="image" name="ajax-circle.gif"></p:graphicImage>
			</p:dialog>
			
			<p:confirmDialog id="confirmarDadosDialog" widgetVar="confirmacaoDadosDialog" header="Confirmação de agendamento" message="Você confirma os dados abaixo?" visible="true" severity="info" responsive="true" showEffect="fade" closable="false" styleClass="confirmacaoDadosDialog subirDialogKeyboard dialog-min-width-500">

				<div class="ui-fluid">
					<p:messages closable="true"><p:autoUpdate></p:autoUpdate></p:messages>
					
					<p:panelGrid columns="2" layout="grid" columnClasses="ui-grid-col-3, ui-grid-col-9" styleClass="panelgrid-noborder">
						<h:outputLabel value="Unidade: " />
						<h:outputText value="#{atendimentoOnlineBean.unidade.nome}" />
						
						<h:outputLabel value="Médico: " />
						<h:outputText value="#{atendimentoOnlineBean.agendamento.nomeAgenda}" />
						
						<h:outputLabel value="Dia: " />
						<h:outputText value="#{atendimentoOnlineBean.diaAgendamentoFormatado}" />
						
						<h:outputLabel value="Horario: " />
						<h:outputText value="#{atendimentoOnlineBean.agendamento.horario}" />
						
						<h:outputLabel value="Operadora: " />
						<h:outputText value="#{atendimentoOnlineBean.contratoCarteirinha.nomeContrato}" />
						
						<h:outputLabel value="Plano: " />
						<h:outputText value="#{atendimentoOnlineBean.planoResumo.nome}" />
					</p:panelGrid>
					
					<hr />
					
					<ui:remove><p:panelGrid columns="2" layout="grid" columnClasses="ui-grid-col-3, ui-grid-col-9" styleClass="panelgrid-noborder">
						<h:outputLabel value="Paciente:" />
						<p:selectOneMenu styleClass="selectonemenu-paciente" value="#{atendimentoOnlineBean.paciente}" style="font-size: .9em" converter="beneficiarioConverter">
							<f:selectItems value="#{atendimentoOnlineBean.beneficiarios}" var="d" itemLabel="#{d.nome}" itemValue="#{d}"/>
						</p:selectOneMenu>
					</p:panelGrid></ui:remove>
					
				</div>
				
				<div>
					<p:commandButton icon="fa fa-arrow-left" value="Voltar" actionListener="#{atendimentoOnlineBean.horaAgendamentoNull()}" onsuccess="PF('confirmacaoDadosDialog').hide()" update="panel-ajax :formSteps:steps" process="@this" tabindex="2" style="width: 48%;">
						<f:setPropertyActionListener value="../WEB-INF/agendamento-online/agendamento/seleciona-horario.xhtml" target="#{trocaPaginaAtendimentoOnlineBean.paginaAtual}" />
						<f:setPropertyActionListener value="2" target="#{trocaPaginaAtendimentoOnlineBean.indexStep}" />
					</p:commandButton>
					
					<p:commandButton id="btnEnter" icon="fa fa-check" value="Sim" oncomplete="if(!args.validationFailed) PF('confirmacaoDadosDialog').hide()" action="#{atendimentoOnlineBean.gravarAgendamento}" process="confirmarDadosDialog" update="obrigadoConfirmDialog erroConfirmDialog" style="width: 48%; position: absolute; right: 0;" tabindex="1" styleClass="btn-success"></p:commandButton>
				</div>
			
				<p:defaultCommand target="btnEnter"></p:defaultCommand>
			</p:confirmDialog>
			
			<p:confirmDialog id="obrigadoConfirmDialog" visible="#{atendimentoOnlineBean.mostrarObrigadoDialog}" widgetVar="obrigadoConfirmDialog" header="Sucesso" responsive="true" showEffect="fade" severity="info" closable="false" styleClass="confirmacaoDadosDialog">
				<f:facet name="message">
					<h:outputText value="Muito obrigado pela visita.&lt;/br&gt;O seu agendamento foi realizado!" escape="false" style="font-weight: bold !important; font-size: 1.5em !important"/>
				</f:facet>
				<div class="ui-fluid">
					<p:panelGrid columns="1" layout="grid" columnClasses="ui-grid-col-12" styleClass="panelgrid-noborder">
						<p:panelGrid columns="2" layout="grid" columnClasses="ui-grid-col-4, ui-grid-col-8" styleClass="panelgrid-noborder">
							<h:outputLabel value="Unidade: " />
							<h:outputText value="#{atendimentoOnlineBean.unidade.nome}" />
							
							<h:outputLabel value="Médico: " />
							<h:outputText value="#{atendimentoOnlineBean.agendamento.nomeAgenda}" />
							
							<h:outputLabel value="Dia: " />
							<h:outputText value="#{atendimentoOnlineBean.diaAgendamentoFormatado}" />
							
							<h:outputLabel value="Horario: " />
							<h:outputText value="#{atendimentoOnlineBean.agendamento.horario}" />
							
							<h:outputLabel value="Operadora: " />
							<h:outputText value="#{atendimentoOnlineBean.contratoCarteirinha.nomeContrato}" />
							
							<h:outputLabel value="Plano: " />
							<h:outputText value="#{atendimentoOnlineBean.planoResumo.nome}" />
							
							<h:outputLabel value="Paciente: "></h:outputLabel>
							<h:outputText value="#{atendimentoOnlineBean.paciente.nome}" />
							
							<h:outputLabel value="Nº Carteirinha: " />
							<h:outputText value="#{atendimentoOnlineBean.contratoCarteirinha.carteirinha}" />
							
						</p:panelGrid>
						
						<p:commandButton value="OK" icon="fa fa-check" actionListener="#{atendimentoOnlineBean.limpar()}" action="#{trocaPaginaAtendimentoOnlineBean.trocarPaginaAndIndex('../WEB-INF/agendamento-online/bem-vindo.xhtml', 0)}" process="@this" update="panel-ajax" onsuccess="PF('obrigadoConfirmDialog').hide()" styleClass="btn-success"></p:commandButton>
					</p:panelGrid>
				</div>	
			</p:confirmDialog>
			
			<p:confirmDialog id="erroConfirmDialog" widgetVar="erroConfirmDialog" visible="#{atendimentoOnlineBean.mostrarErroDialog}" header="Erro" responsive="true" closable="false" showEffect="fade">
				<f:facet name="message">
					<h:outputText value="#{atendimentoOnlineBean.mensagemErroConfirmacaoDados}" escape="false" />
				</f:facet>
				
				<div>
					<p:commandButton value="Voltar" icon="fa fa-arrow-left" action="#{trocaPaginaAtendimentoOnlineBean.trocarPaginaAndIndex('../WEB-INF/agendamento-online/bem-vindo.xhtml', 0)}" process="@this" update="panel-ajax" onsuccess="PF('erroConfirmDialog').hide()"></p:commandButton>
				</div>
			</p:confirmDialog>
		</h:form>
</html>