<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:p="http://primefaces.org/ui">
		
	<h:form>
		<div class="ui-fluid">
			<h1 style="text-align: center">Selecione um Convênio abaixo</h1>
			
			<div style="margin-top: 15px; padding-top: 15px; border-top: 1px solid #ddd">
				<p:dataTable value="#{atendimentoOnlineBean.paciente.contratosCarteirinhas}" var="c" selectionMode="single" selection="#{atendimentoOnlineBean.contratoCarteirinha}" reflow="true" rowKey="#{c.id}" scrollable="true" styleClass="datatable-column-below" style="margin-bottom: 10px">
					<p:ajax event="rowSelect" process="@this" listener="#{atendimentoOnlineBean.atualizarPlanos()}" update="panel-ajax"></p:ajax>
					<p:column headerText="Convênio" width="40%" style="text-align: center">
						<h:outputText value="#{c.nomeContrato}"/>
					</p:column>
					
					<p:column headerText="Nª Carteirinha" width="30%" style="text-align: center">
						<h:outputText value="#{c.carteirinha}" />
					</p:column>
					<p:column headerText="Plano" style="text-align: center">
						<h:outputText value="#{c.nomePlano}" />
					</p:column>
				</p:dataTable>
			</div>
		</div>
		
		<p:commandButton icon="fa fa-arrow-left" value="Voltar" actionListener="#{atendimentoOnlineBean.contratoCarteirinhaNull()}" action="#{trocaPaginaAtendimentoOnlineBean.trocarPaginaAndIndex('../WEB-INF/agendamento-online/agendamento/cadastra-contrato.xhtml', 0)}" process="@this" update="panel-ajax :formSteps:steps" ></p:commandButton>
	</h:form>
</html>