<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:p="http://primefaces.org/ui">
	<h:form>
		<h1 style="text-align: center;">Selecione um plano abaixo</h1>
		
		<p:panelGrid columns="1" layout="grid" columnClasses="ui-grid-col-12" styleClass="panelgrid-noborder">
			<p:dataTable value="#{atendimentoOnlineBean.getPlanos()}" var="p" reflow="true" scrollable="true" selectionMode="single" selection="#{atendimentoOnlineBean.planoResumo}" rowKey="#{p.id}" styleClass="datatable-reflow-semcolumn">
				<f:facet name="header">
					<h:outputText value="Planos" />
				</f:facet>
				
				<p:ajax event="rowSelect" listener="#{atendimentoOnlineBean.atualizarAgendaCategorias()}" update="panel-ajax :formSteps:steps"></p:ajax>
				
				<p:column headerText="Nome" style="text-align: center">
					<h:outputText value="#{p.nome}" />
				</p:column>
			</p:dataTable>
			
			<p:commandButton icon="fa fa-arrow-left" value="Voltar" actionListener="#{atendimentoOnlineBean.contratoCarteirinhaNull()}" action="#{trocaPaginaAtendimentoOnlineBean.trocarPaginaAndIndex('../WEB-INF/agendamento-online/agendamento/seleciona-contrato.xhtml', 1)}" process="@this" update="panel-ajax :formSteps:steps" ></p:commandButton>
		</p:panelGrid>
	</h:form>
</html>