<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:p="http://primefaces.org/ui"
		xmlns:c="http://java.sun.com/jsp/jstl/core">
	
	<h:form>
		<h1 align="center">Selecione uma data abaixo</h1>
		
		<h:panelGrid columns="1" style="margin: 0 auto; margin-top: 30px;">
			<p:calendar id="calendar-agendamento"  value="#{atendimentoOnlineBean.diaAgendamento}"  beforeShowDay="disponibilizarDias" mode="inline" locale="pt" navigator="true" yearRange="c:c+1" style="margin: 0 auto;" timeZone="America/Sao_Paulo">
				<p:ajax event="dateSelect" listener="#{atendimentoOnlineBean.atualizarAgendamentosDisponiveis()}" process="@this" update="panel-ajax :formSteps:steps"></p:ajax>
			</p:calendar>
		
			<p:commandButton style="margin-top: 10px;" icon="fa fa-arrow-left"
				value="Voltar"
				actionListener="#{atendimentoOnlineBean.agendaNull()}"
				action="#{trocaPaginaAtendimentoOnlineBean.trocarPaginaAndIndex('../WEB-INF/agendamento-online/agendamento/seleciona-medico.xhtml', 2)}"
				process="@this" update="panel-ajax :formSteps:steps"></p:commandButton>
		</h:panelGrid>
	</h:form>
</html>