<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:p="http://primefaces.org/ui">
		
	<h:form>
		<h1 style="text-align: center">Selecione um médico abaixo</h1>
	
		<p:panelGrid columns="1" layout="grid" columnClasses="ui-grid-col-12" styleClass="panelgrid-noborder">
			<p:dataTable value="#{atendimentoOnlineBean.getAgendas()}" var="m" scrollable="true" reflow="true" selectionMode="single" selection="#{atendimentoOnlineBean.agenda}" rowKey="#{m.id}" style="text-align: left !important;" styleClass="datatable-reflow-semcolumn">
				<f:facet name="header">
					<i class="fa fa-user-md" />
					<h:outputText value="Médicos" />
				</f:facet>
				<p:ajax event="rowSelect" listener="#{atendimentoOnlineBean.atualizarDatas()}"  process="@this" update="panel-ajax :formSteps:steps"></p:ajax>
				
				<p:column style="text-align: center;" headerText="Nome">
					<h:outputText id="nome" value="#{m.nome}" />
				</p:column>
				
			</p:dataTable>
			
			<p:commandButton icon="fa fa-arrow-left" value="Voltar" actionListener="#{atendimentoOnlineBean.especialidadeNull()}" action="#{trocaPaginaAtendimentoOnlineBean.trocarPaginaAndIndex('../WEB-INF/agendamento-online/agendamento/seleciona-especialidade.xhtml', 2)}" process="@this" update="panel-ajax :formSteps:steps" ></p:commandButton>
		</p:panelGrid>
		
	</h:form>
</html>