<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:p="http://primefaces.org/ui">
		
	<h:form>
		<h1 style="text-align: center">Selecione uma categoria abaixo</h1>
	
		<p:panelGrid columns="1" layout="grid" columnClasses="ui-grid-col-12" styleClass="panelgrid-noborder">
			<p:dataTable value="#{atendimentoOnlineBean.getAgendaCategorias()}" var="c" reflow="true" scrollable="true" selectionMode="single" selection="#{atendimentoOnlineBean.agendaCategoria}" rowKey="#{c.id}" styleClass="datatable-reflow-semcolumn">
				<f:facet name="header">
					<h:outputText value="Categorias" />
				</f:facet>
				<p:ajax event="rowSelect" listener="#{atendimentoOnlineBean.atualizarEspecialidades()}" update="panel-ajax :formSteps:steps"></p:ajax>
				
				<p:column style="text-align: center;" headerText="Nome">
					<h:outputText id="nome" value="#{c.descricao}" />
				</p:column>
				
			</p:dataTable>
			
			<p:commandButton icon="fa fa-arrow-left" value="Voltar" actionListener="#{atendimentoOnlineBean.planoNull()}" action="#{trocaPaginaAtendimentoOnlineBean.trocarPaginaAndIndex('../WEB-INF/agendamento-online/agendamento/seleciona-contrato.xhtml', 1)}" process="@this" update="panel-ajax :formSteps:steps" ></p:commandButton>
			
		</p:panelGrid>
		
	</h:form>
</html>