<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:p="http://primefaces.org/ui">
		
	<h:form>
		<h1 style="text-align: center">Selecione uma clínica abaixo</h1>
	
		<p:panelGrid columns="1" layout="grid" columnClasses="ui-grid-col-12" styleClass="panelgrid-noborder">
			<p:dataTable value="#{atendimentoOnlineBean.getClinicas()}" var="c" reflow="true" scrollable="true" scrollHeight="300" selectionMode="single" selection="#{atendimentoOnlineBean.clinica}" rowKey="#{c.id}" styleClass="datatable-reflow-semcolumn">
				<f:facet name="header">
					<i class="fa fa-home" />
					<h:outputText value="Clinicas" />
				</f:facet>
				<p:ajax event="rowSelect" listener="#{trocaPaginaAtendimentoOnlineBean.trocarPaginaAndIndex('../WEB-INF/agendamento-online/agendamento/seleciona-unidade.xhtml', 0)}" update="panel-ajax :formSteps:steps"></p:ajax>
				<!-- p:ajax event="rowSelect" listener="if(#{atendimentoOnlineBean.getUnidades().size() == 1}) {#{trocaPaginaAtendimentoOnlineBean.trocarPaginaAndIndex('../WEB-INF/agendamento-online/agendamento/seleciona-unidade.xhtml', 0)}}" update="panel-ajax :formSteps:steps"></p:ajax> -->
				
				<p:column style="text-align: center;" headerText="Nome">
					<h:outputText id="nome" value="#{c.nome}" />
				</p:column>
				
			</p:dataTable>
		</p:panelGrid>
		
	</h:form>
</html>