<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:p="http://primefaces.org/ui">
	
	<h:form>
		<p:dialog widgetVar="confirmDialogEscolhaPaciente" header="Seleção de Paciente" visible="true" closable="false" maximizable="false" minimizable="false" draggable="false" resizable="false" responsive="true">
			
			<div style="border-bottom: 1px solid #ddd; margin-top: 20px; margin-bottom: 20px; padding-bottom: 20px">
				<h:outputText value="Para qual paciente gostaria de marcar a consulta?" />			
			</div>
		
			<div class="ui-fluid">
				<p:panelGrid columns="2" layout="grid" columnClasses="ui-grid-col-3, ui-grid-col-9" styleClass="panelgrid-noborder" style="padding-bottom: 20px;">
					<p:outputLabel for="pacienteAutoComplete" value="Paciente:" style="line-height: 30px"></p:outputLabel>
					<p:selectOneMenu id="pacienteAutoComplete" value="#{atendimentoOnlineBean.paciente}" converter="beneficiarioConverter" styleClass="selectonemenu-paciente">
						<p:ajax event="itemSelect" process="@this" update="panel-ajax" listener="#{atendimentoOnlineBean.atualizarContratos()}" onsuccess="PF('confirmDialogEscolhaPaciente').hide()"></p:ajax>
						<f:selectItems value="#{atendimentoOnlineBean.beneficiarios}" var="b" itemLabel="#{b.nome}" itemValue="#{b}"/>
					</p:selectOneMenu>
				</p:panelGrid>
				
				<p:commandButton value="Ok" actionListener="#{atendimentoOnlineBean.atualizarContratos()}" process="@this" update="panel-ajax" icon="fa fa-check" ></p:commandButton>
			</div>					
			
		</p:dialog>
	</h:form>
</html>