<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:p="http://primefaces.org/ui">
		
	<h:form>
	
		<p:panelGrid columns="1" layout="grid" columnClasses="ui-grid-col-12" styleClass="panelgrid-noborder" rendered="#{atendimentoOnlineBean.unidades.size() gt 0}">
			
			<h2 style="text-align: center">Selecione uma unidade abaixo::</h2>

			<p:dataTable value="#{atendimentoOnlineBean.getUnidades()}" var="u" reflow="true" selectionMode="single" selection="#{atendimentoOnlineBean.unidade}" rowKey="#{u.id}" styleClass="datatable-column-below">
				<f:facet name="header">
					<i class="fa fa-home" />
					<h:outputText value="Unidades" />
				</f:facet>
				<p:ajax event="rowSelect" listener="#{atendimentoOnlineBean.escolherPacienteOuContrato()}" update="panel-ajax :formSteps:steps"></p:ajax>
				
				<p:column style="text-align: center;" headerText="Nome">
					<h:outputText id="nome" value="#{u.nome}" />
				</p:column>
				
				<p:column style="text-align: center;" width="70%" headerText="Endereço" styleClass="quebraLinhaTable">
					<h:outputText id="endereco" value="#{u.endereco.logradouro}, #{u.endereco.numero}, #{u.endereco.CEP}, #{u.endereco.municipio}"></h:outputText>
				</p:column>
			</p:dataTable>
			
		</p:panelGrid>
		
		<p:outputPanel rendered="#{atendimentoOnlineBean.unidades.size() eq 0}" style="border: 1px solid #ddd; border-radius: 10px; padding: 10px 0; margin-bottom: 10px;">
			<h2 style="text-align: center">Serviço Indisponível</h2>
			<h6 style="text-align: center">Por favor entre em contato com a clínica!</h6>
		</p:outputPanel>
	</h:form>
		
</html>