<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:p="http://primefaces.org/ui">
		
	<h:form>
		<h1 style="text-align: center">Selecione um horario abaixo</h1>
			<p:panelGrid columns="1" columnClasses="ui-grid-col-12" layout="grid" styleClass="panelgrid-noborder" >
				<p:panel style="overflow-y: auto;" styleClass="scrollMac scrollHorario">
					<p:selectOneRadio id="selectoneradio-horario" value="#{atendimentoOnlineBean.agendamento}" layout="responsive" columns="4" styleClass="scrollMac radioButtonHorario" converter="generic">
						<f:param name="pagina" value="../WEB-INF/agendamento-online/agendamento/confirmacao-dados.xhtml"></f:param>
						<f:param name="index" value="3"></f:param>
						<p:ajax event="click" listener="#{trocaPaginaAtendimentoOnlineBean.trocarPaginaAttribute}" update="panel-ajax :formSteps:steps" process="@this"></p:ajax>
						<f:selectItems value="#{atendimentoOnlineBean.getAgendamentosDisponiveis()}" />
					</p:selectOneRadio>
				</p:panel>
				
				<p:commandButton icon="fa fa-arrow-left" value="Voltar" actionListener="#{atendimentoOnlineBean.diaAgendamentoNull()}" action="#{trocaPaginaAtendimentoOnlineBean.trocarPaginaAndIndex('../WEB-INF/agendamento-online/agendamento/seleciona-data.xhtml', 2)}" update="panel-ajax :formSteps:steps" process="@this"></p:commandButton>
			</p:panelGrid>
	</h:form>	
</html>