<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:p="http://primefaces.org/ui">
	
	<header class="header">
		<p:graphicImage library="image" name="logoSSI2.png" style="margin-right: 10px; float: left; height: 35px;"></p:graphicImage>
	</header>
		
</html>