<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:p="http://primefaces.org/ui">
		
	<header class="header">
		<p:graphicImage library="image" name="logoSSI2.png" style="margin-right: 100px; float: left; height: 35px;"></p:graphicImage>
		<input type="checkbox" id="bt_menu"></input>
		<label for="bt_menu" id="lbl_menu"><i class="fa fa-bars"></i></label>
		<div class="menu">
			<ul>
				<li><a class="fa fa-angle-down">Consultar</a>
					<ul>
						<li><p:commandLink value="Paciente" actionListener="#{consultaAgendamentoBean.limpar()}" action="#{trocaPaginaAtendimentoOnlineBean.trocarPagina('/WEB-INF/admin/consulta-pacientes.xhtml')}" process="@this" update="panel-ajax"></p:commandLink></li>
						<li><p:commandLink value="Agendamentos" actionListener="#{consultaAgendamentoBean.limpar()}" action="#{trocaPaginaAtendimentoOnlineBean.trocarPagina('/WEB-INF/admin/consulta-agendamentos.xhtml')}" process="@this" update="panel-ajax"></p:commandLink></li>
					</ul>
				</li>
				
				<li><p:commandLink value="Alterar Senha" action="#{trocaPaginaAtendimentoOnlineBean.trocarPagina('/WEB-INF/admin/alterar-senha.xhtml')}" process="@this" update="panel-ajax"></p:commandLink></li>
				<li class="li-sair"><p:commandLink value="Sair" action="#{consultaAgendamentoBean.encerrarSessao()}" onclick="desmarcarCheckBox();" process="@this"></p:commandLink></li>
			</ul>
		</div>
		
	</header>
</html>