<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:p="http://primefaces.org/ui"
		xmlns:c="http://java.sun.com/jstl/core">

	<header class="header">
		<p:graphicImage library="image" name="logoSSI2.png" style="margin-right: 100px; float: left; height: 35px;"></p:graphicImage>
		<input type="checkbox" id="bt_menu"></input>
		<label for="bt_menu" id="lbl_menu"><i class="fa fa-bars"></i></label>
		
		<c:set var="quantidadeUnidades" value="#{atendimentoOnlineBean.unidades.size()}"></c:set>
		
		<div class="menu">
			<ul>
				<li><p:commandLink value="Home" onclick="desmarcarCheckBox();" actionListener="#{atendimentoOnlineBean.limpar()}" action="#{trocaPaginaAtendimentoOnlineBean.trocarPaginaRedirect('../WEB-INF/agendamento-online/bem-vindo.xhtml')}" process="@this" update="panel-ajax :formSteps :formSteps:steps"></p:commandLink></li>
				<li><a class="fa fa-angle-down">Cadastrar</a>
					<ul>
						<li><p:commandLink value="Agendamento" onclick="desmarcarCheckBox();" actionListener="#{atendimentoOnlineBean.limpar()}" action="#{trocaPaginaAtendimentoOnlineBean.trocarPaginaRedirect('../WEB-INF/agendamento-online/bem-vindo.xhtml', quantidadeUnidades)}" process="@this" update="panel-ajax :formSteps :formSteps:steps" ></p:commandLink></li>
						<li><p:commandLink value="Dependente" onclick="desmarcarCheckBox();" actionListener="#{atendimentoOnlineBean.limpar()}" action="#{trocaPaginaAtendimentoOnlineBean.trocarPaginaRedirect('../WEB-INF/agendamento-online/cadastro-dependente.xhtml', quantidadeUnidades)}" process="@this" update="panel-ajax :formSteps :formSteps:steps"></p:commandLink></li>
					</ul>
				</li>
				<li><a class="fa fa-angle-down">Consultar</a>
					<ul>
						<li><p:commandLink value="Agendamentos" onclick="desmarcarCheckBox();" actionListener="#{atendimentoOnlineBean.limpar()}" action="#{trocaPaginaAtendimentoOnlineBean.trocarPaginaRedirect('../WEB-INF/agendamento-online/meus-agendamentos.xhtml', quantidadeUnidades)}" process="@this" update="panel-ajax :formSteps:steps"></p:commandLink></li>
						<li><p:commandLink value="Dependentes" onclick="desmarcarCheckBox();" actionListener="#{atendimentoOnlineBean.limpar()}" action="#{trocaPaginaAtendimentoOnlineBean.trocarPaginaRedirect('../WEB-INF/agendamento-online/meus-dependentes.xhtml', quantidadeUnidades)}" process="@this" update="panel-ajax :formSteps:steps"></p:commandLink></li>
					</ul>
				</li>
				<li><p:commandLink value="Alterar Dados" onclick="desmarcarCheckBox();" actionListener="#{atendimentoOnlineBean.limpar()}" action="#{trocaPaginaAtendimentoOnlineBean.trocarPaginaRedirect('../WEB-INF/agendamento-online/alterar-dados.xhtml', quantidadeUnidades)}" process="@this" update="panel-ajax :formSteps:steps"></p:commandLink></li>
				<li class="li-sair"><p:commandLink value="Sair" action="#{atendimentoOnlineBean.encerrarSessao()}" onclick="desmarcarCheckBox();" process="@this"></p:commandLink></li>
				
			</ul>
		</div>
		
	</header>
		
</html>